In [1]:
%env WORKDIR=~/weatherpy-work
from stormevents.io import load_tornadoes

import numpy as np
import pandas as pd
import geopy.distance

env: WORKDIR=~/weatherpy-work

In [2]:
sample_data = load_tornadoes('1991-04-26 12:00', '1991-04-27 12:00', tz='GMT')

In [3]:
sample_data.columns

Index(['begin_yearmonth', 'begin_day', 'begin_time', 'end_yearmonth',
       'end_day', 'end_time', 'episode_id', 'event_id', 'state', 'state_fips',
       'year', 'month_name', 'event_type', 'cz_type', 'cz_fips', 'cz_name',
       'wfo', 'begin_date_time', 'cz_timezone', 'end_date_time',
       'injuries_direct', 'injuries_indirect', 'deaths_direct',
       'deaths_indirect', 'damage_property', 'damage_crops', 'source',
       'magnitude', 'magnitude_type', 'flood_cause', 'category', 'tor_f_scale',
       'tor_length', 'tor_width', 'tor_other_wfo', 'tor_other_cz_state',
       'tor_other_cz_fips', 'tor_other_cz_name', 'begin_range',
       'begin_azimuth', 'begin_location', 'end_range', 'end_azimuth',
       'end_location', 'begin_lat', 'begin_lon', 'end_lat', 'end_lon',
       'episode_narrative', 'event_narrative', 'data_source'],
      dtype='object')

In [4]:
sample_data.head()

,begin_yearmonth,begin_day,begin_time,end_yearmonth,end_day,end_time,episode_id,event_id,state,state_fips,...,end_range,end_azimuth,end_location,begin_lat,begin_lon,end_lat,end_lon,episode_narrative,event_narrative,data_source
0,199104,26,2230,199104,26,2230,NaN,10034558,KANSAS,20,...,0,NaN,NaN,37.18,-97.83,37.23,-97.82,NaN,NaN,PUB
1,199104,27,0133,199104,27,0133,NaN,10034585,KANSAS,20,...,0,NaN,NaN,37.58,-97.33,NaN,NaN,NaN,NaN,PUB
2,199104,27,0300,199104,27,0300,NaN,10137290,TEXAS,48,...,0,NaN,NaN,33.63,-95.27,NaN,NaN,NaN,NaN,PUB
3,199104,26,1545,199104,26,1545,NaN,10034309,KANSAS,20,...,0,NaN,NaN,37.27,-95.55,37.37,-95.53,NaN,NaN,PUB
4,199104,27,0245,199104,27,0245,NaN,10102365,OKLAHOMA,40,...,0,NaN,NaN,36.45,-95.72,36.48,-95.65,NaN,NaN,PUB

In [5]:
def dist(lat1, lon1, lat2, lon2):
    if any(map(np.isnan, (lat1, lon1, lat2, lon2))):
        return np.nan
    pt1 = (lat1, lon1)
    pt2 = (lat2, lon2)
    return geopy.distance.distance(pt1, pt2).mi

sample_data['calc_length'] = sample_data.apply(
    lambda r: dist(r.begin_lat, r.begin_lon, r.end_lat, r.end_lon), axis=1)

In [6]:
sample_data[
    ['begin_date_time', 'end_date_time', 'begin_lat', 'begin_lon', 'end_lat', 'end_lon', 'tor_length', 'calc_length', 'tor_f_scale', 'state']]

,begin_date_time,end_date_time,begin_lat,begin_lon,end_lat,end_lon,tor_length,calc_length,tor_f_scale,state
0,1991-04-26 22:30:00,1991-04-26 22:30:00,37.18,-97.83,37.23,-97.82,4.0,3.491878,F0,KANSAS
1,1991-04-27 01:33:00,1991-04-27 01:33:00,37.58,-97.33,NaN,NaN,1.0,NaN,F0,KANSAS
2,1991-04-27 03:00:00,1991-04-27 03:00:00,33.63,-95.27,NaN,NaN,0.2,NaN,F2,TEXAS
3,1991-04-26 15:45:00,1991-04-26 15:45:00,37.27,-95.55,37.37,-95.53,6.0,6.983624,F2,KANSAS
4,1991-04-27 02:45:00,1991-04-27 02:45:00,36.45,-95.72,36.48,-95.65,4.0,4.413398,F4,OKLAHOMA
5,1991-04-27 03:10:00,1991-04-27 03:10:00,36.53,-95.43,NaN,NaN,2.0,NaN,F1,OKLAHOMA
6,1991-04-27 01:27:00,1991-04-27 01:27:00,36.67,-96.53,NaN,NaN,0.3,NaN,F1,OKLAHOMA
7,1991-04-27 01:36:00,1991-04-27 01:36:00,36.20,-96.28,36.38,-96.00,21.0,19.957721,F4,OKLAHOMA
8,1991-04-26 23:00:00,1991-04-26 23:00:00,36.40,-97.77,36.43,-97.67,6.0,5.944521,F3,OKLAHOMA
9,1991-04-26 23:15:00,1991-04-26 23:15:00,36.43,-97.60,NaN,NaN,0.1,NaN,F0,OKLAHOMA
10,1991-04-26 23:30:00,1991-04-26 23:30:00,36.43,-97.55,36.45,-97.43,6.0,6.826217,F4,OKLAHOMA
11,1991-04-26 23:38:00,1991-04-26 23:38:00,36.45,-97.43,36.57,-96.90,33.0,30.639309,F4,OKLAHOMA
12,1991-04-27 00:21:00,1991-04-27 00:21:00,36.57,-96.90,36.70,-96.45,27.0,26.565656,F4,OKLAHOMA
13,1991-04-27 00:38:00,1991-04-27 00:38:00,36.03,-96.83,36.13,-96.73,6.5,8.880454,F2,OKLAHOMA
14,1991-04-27 01:10:00,1991-04-27 01:10:00,36.17,-96.52,36.20,-96.28,11.0,13.573087,F4,OKLAHOMA
15,1991-04-27 02:05:00,1991-04-27 02:05:00,36.88,-95.93,36.93,-95.83,6.0,6.523418,F2,OKLAHOMA
16,1991-04-27 03:15:00,1991-04-27 03:15:00,39.92,-94.67,NaN,NaN,1.8,NaN,F1,MISSOURI
17,1991-04-27 04:39:00,1991-04-27 04:39:00,37.03,-94.52,NaN,NaN,0.2,NaN,F0,MISSOURI
18,1991-04-27 04:57:00,1991-04-27 04:57:00,39.87,-94.68,NaN,NaN,1.5,NaN,F1,MISSOURI
19,1991-04-27 05:05:00,1991-04-27 05:05:00,37.08,-94.58,NaN,NaN,0.1,NaN,F0,MISSOURI
20,1991-04-26 20:25:00,1991-04-26 20:25:00,39.82,-97.12,39.85,-97.05,3.5,4.259836,F2,KANSAS
21,1991-04-26 20:45:00,1991-04-26 20:45:00,38.43,-96.53,NaN,NaN,1.0,NaN,F0,KANSAS
22,1991-04-26 20:50:00,1991-04-26 20:50:00,39.95,-96.95,40.02,-96.92,5.0,5.085233,F3,KANSAS
23,1991-04-26 21:10:00,1991-04-26 21:10:00,38.67,-96.52,38.75,-96.37,7.0,9.806811,F0,KANSAS
24,1991-04-26 21:20:00,1991-04-26 21:20:00,38.75,-96.37,38.80,-96.35,6.0,3.614082,F0,KANSAS
25,1991-04-26 23:10:00,1991-04-26 23:10:00,37.83,-97.38,37.92,-97.37,11.0,6.231197,F1,KANSAS
26,1991-04-26 23:16:00,1991-04-26 23:16:00,37.92,-97.37,37.98,-97.35,5.0,4.279892,F1,KANSAS
27,1991-04-26 23:30:00,1991-04-26 23:30:00,37.07,-97.15,37.35,-96.80,25.0,27.304103,F4,KANSAS
28,1991-04-26 23:35:00,1991-04-26 23:35:00,39.02,-96.35,39.13,-96.17,9.0,12.298593,F0,KANSAS
29,1991-04-26 23:40:00,1991-04-26 23:40:00,37.70,-97.15,37.90,-96.87,22.0,20.616748,F5,KANSAS
...,...,...,...,...,...,...,...,...,...,...
42,1991-04-26 22:25:00,1991-04-26 22:25:00,39.23,-95.87,39.27,-95.82,7.0,3.847937,F2,KANSAS
43,1991-04-26 22:32:00,1991-04-26 22:32:00,37.23,-97.82,37.38,-97.67,12.0,13.239466,F0,KANSAS
44,1991-04-26 22:47:00,1991-04-26 22:47:00,37.67,-97.58,NaN,NaN,2.0,NaN,F1,KANSAS
45,1991-04-26 22:57:00,1991-04-26 22:57:00,37.47,-97.48,37.70,-97.15,24.0,24.075290,F5,KANSAS
46,1991-04-26 15:30:00,1991-04-26 15:30:00,29.25,-90.00,NaN,NaN,0.2,NaN,F1,LOUISIANA
47,1991-04-27 02:25:00,1991-04-27 02:25:00,39.35,-95.42,39.43,-95.32,5.0,7.688528,F2,KANSAS
48,1991-04-26 23:15:00,1991-04-26 23:15:00,42.28,-97.82,NaN,NaN,0.1,NaN,F0,NEBRASKA
49,1991-04-26 20:40:00,1991-04-26 20:40:00,40.42,-97.45,NaN,NaN,1.0,NaN,F1,NEBRASKA
50,1991-04-26 21:00:00,1991-04-26 21:00:00,40.02,-96.92,40.25,-96.70,19.0,19.686428,F3,NEBRASKA
51,1991-04-26 22:00:00,1991-04-26 22:00:00,40.43,-96.50,40.52,-96.47,4.0,6.407980,F2,NEBRASKA
52,1991-04-26 22:15:00,1991-04-26 22:15:00,40.60,-96.40,40.78,-96.27,14.0,14.173468,F3,NEBRASKA
53,1991-04-27 07:05:00,1991-04-27 07:05:00,33.70,-95.27,NaN,NaN,0.2,NaN,F1,TEXAS
54,1991-04-27 00:00:00,1991-04-27 00:00:00,32.02,-95.38,NaN,NaN,0.2,NaN,F2,TEXAS
55,1991-04-27 00:11:00,1991-04-27 00:11:00,32.05,-95.30,32.08,-95.25,3.0,3.588783,F3,TEXAS
56,1991-04-27 00:40:00,1991-04-27 00:40:00,32.18,-95.02,32.18,-94.98,1.0,2.344013,F2,TEXAS
57,1991-04-27 00:44:00,1991-04-27 00:44:00,32.18,-94.98,32.18,-94.95,2.0,1.758010,F2,TEXAS
58,1991-04-27 01:00:00,1991-04-27 01:00:00,32.15,-94.87,NaN,NaN,0.2,NaN,F2,TEXAS
59,1991-04-27 00:44:00,1991-04-27 00:44:00,41.73,-95.42,NaN,NaN,2.0,NaN,F1,IOWA
60,1991-04-27 03:20:00,1991-04-27 03:20:00,37.03,-95.73,NaN,NaN,1.0,NaN,F0,KANSAS
61,1991-04-27 03:33:00,1991-04-27 03:33:00,39.43,-95.32,39.62,-95.12,20.0,16.911253,F2,KANSAS
62,1991-04-27 01:00:00,1991-04-27 01:00:00,42.02,-95.35,42.22,-95.20,1.7,15.809913,F3,IOWA
63,1991-04-27 01:13:00,1991-04-27 01:13:00,42.22,-95.20,42.28,-95.10,6.0,6.591308,F3,IOWA
64,1991-04-27 02:00:00,1991-04-27 02:00:00,43.27,-95.23,NaN,NaN,18.0,NaN,F2,IOWA
65,1991-04-27 04:10:00,1991-04-27 04:10:00,40.70,-93.37,40.85,-93.30,9.0,10.982489,F2,IOWA
66,1991-04-27 04:10:00,1991-04-27 04:10:00,40.63,-93.27,40.85,-93.08,15.0,18.162859,F2,IOWA
67,1991-04-27 06:55:00,1991-04-27 06:55:00,41.70,-92.30,41.73,-92.23,4.5,4.170010,F2,IOWA
68,1991-04-27 07:09:00,1991-04-27 07:09:00,41.73,-92.07,41.77,-92.02,2.0,3.781329,F1,IOWA
69,1991-04-27 01:22:00,1991-04-27 01:22:00,32.15,-94.80,NaN,NaN,0.2,NaN,F1,TEXAS
70,1991-04-27 03:19:00,1991-04-27 03:19:00,33.67,-95.17,NaN,NaN,0.2,NaN,F1,TEXAS
71,1991-04-27 03:30:00,1991-04-27 03:30:00,33.75,-95.08,NaN,NaN,0.2,NaN,F2,TEXAS