In [1]:
from datasrcs.spc import load_full_tors
from regions import load_region, CORE_PLAINS
from reanalysis import ncep_r1

%env WORKDIR=~/weatherpy-work

env: WORKDIR=~/weatherpy-work

In [2]:
tors = load_full_tors(to_tz='CST')
sigtors = tors[tors.mag >= 2]

In [3]:
sigtors.head()

,date_time,om,yr,mo,dy,tz,st,stf,stn,mag,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,1950-01-03 11:00:00,1,1950,1,3,3,MO,29,1,3,...,9.5,150,2,0,1,0,0,0,0,0
1,1950-01-03 11:55:00,2,1950,1,3,3,IL,17,2,3,...,3.6,130,1,1,1,135,0,0,0,0
3,1950-01-13 05:25:00,4,1950,1,13,3,AR,5,1,3,...,0.6,17,1,1,1,113,0,0,0,0
4,1950-01-25 19:30:00,5,1950,1,25,3,MO,29,2,2,...,2.3,300,1,1,1,93,0,0,0,0
5,1950-01-25 21:00:00,6,1950,1,25,3,IL,17,3,2,...,0.1,100,1,1,1,91,0,0,0,0

In [4]:
_, plains = load_region(CORE_PLAINS)
sigtors80 = sigtors[sigtors.yr >= 1980]
sigtors80 = sigtors80.geospatial.filter_region(plains, ['slat', 'slon'])

In [5]:
sigtors80apr = sigtors80[(sigtors80.mo <= 4)]
sigtors80may = sigtors80[(sigtors80.mo == 5)]
sigtor_apr = sigtors80apr.groupby(['yr', 'mo', 'dy']).sum()['len']
sigtor_may = sigtors80may.groupby(['yr', 'mo', 'dy']).sum()['len']

In [6]:
sigtor_apr.sort_values(ascending=False).head(10)

yr    mo  dy
1990  3   13    559.00
1991  4   26    363.00
2012  4   14    237.85
1982  3   15    184.20
2007  3   28    142.99
1991  3   26    138.00
1982  3   18    136.50
2001  4   10     89.40
2007  4   21     83.28
1984  4   26     77.70
Name: len, dtype: float64

In [7]:
sigtor_may.sort_values(ascending=False).head(10)

yr    mo  dy
1999  5   3     246.10
2008  5   23    184.50
2011  5   24    184.03
2010  5   10    169.35
1993  5   7     162.00
2003  5   8     150.00
1985  5   10    146.50
2008  5   29    138.23
2015  5   6     111.59
2007  5   5     101.44
Name: len, dtype: float64

In [31]:
import importlib
importlib.reload(ncep_r1)

In [34]:
# datasets = [ncep_r1.hgt(year) for year in sigtor_apr.yr.unique()]
ds91 = ncep_r1.daily4x.hgt(level=500, datetime_='1991-04-27 00:00')

In [35]:
ds91

<xarray.Dataset>
Dimensions:  (lat: 73, lon: 144)
Coordinates:
    level    float32 500.0
  * lon      (lon) float32 0.0 2.5 5.0 7.5 10.0 ... 350.0 352.5 355.0 357.5
    time     datetime64[ns] 1991-04-27
  * lat      (lat) float32 90.0 87.5 85.0 82.5 80.0 ... -82.5 -85.0 -87.5 -90.0
Data variables:
    hgt      (lat, lon) float32 ...
Attributes:
    Conventions:                     COARDS
    title:                           4x daily NMC reanalysis
    description:                     Data is from NMC initialized reanalysis\...
    platform:                        Model
    history:                         /home/hoop/crdc/cpreanjuke2farm/cpreanju...
    References:                      http://www.esrl.noaa.gov/psd/data/gridde...
    dataset_title:                   NCEP-NCAR Reanalysis 1
    DODS_EXTRA.Unlimited_Dimension:  time