In [149]:
from datasrcs.spc import load_tor_segments
from datasrcs.stormevents import load_tor_events

import pandas as pd
import numpy as np

%env WORKDIR=~/weatherpy-work

env: WORKDIR=~/weatherpy-work

In [11]:
spc_segs = load_tor_segments(to_tz='CST')
spc_03 = spc_segs[spc_segs.yr == 2003]

stevents_03 = load_tor_events('2003-01-01', '2003-12-31', tz='CST')

In [14]:
spc_03.columns

Index(['date_time', 'yr', 'mo', 'dy', 'tz', 'st', 'stf', 'stn', 'mag', 'inj',
       'fat', 'loss', 'closs', 'slat', 'slon', 'elat', 'elon', 'len', 'wid',
       'ns', 'sn', 'sg', 'f1', 'f2', 'f3', 'f4', 'fc'],
      dtype='object')

In [154]:
def tojoinable(data, multiplier=100):
    return (data * 100).astype(int)

In [162]:
spc_cols = ['date_time', 'slat1', 'slon1', 'elat1', 'elon1', 'len', 'mag', 'f1', 'f2']
spc_03[['slat1', 'slon1', 'elat1', 'elon1']] = tojoinable(spc_subset[['slat', 'slon', 'elat', 'elon']])
spc_subset = spc_03[spc_cols]
spc_subset.sort_values(by='date_time').head()

/Users/jimtang/miniconda3/envs/storm_analysis_env2/lib/python3.7/site-packages/pandas/core/frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

              date_time  slat1  slon1  elat1  elon1  len  mag   f1   f2
om
9   2003-02-15 12:00:00   2995  -9200   2995  -9200  0.5    1  113    0
688 2003-02-15 16:20:00   3213  -8978   3215  -8978  1.0    0  121    0
689 2003-02-15 16:43:00   3218  -8960   3227  -8953  3.5    0  129  123
690 2003-02-15 17:25:00   3235  -8927   3236  -8923  2.0    1  101    0
4   2003-02-15 20:36:00   3233  -8782   3236  -8777  2.5    1   91    0

In [166]:
stevent_cols = ['begin_date_time', 'end_date_time', 'begin_lat1', 'begin_lon1', 'end_lat1', 'end_lon1', 'event_id']
stevents_03[['begin_lat', 'begin_lon', 'end_lat', 'end_lon']] = stevents_03[['begin_lat', 'begin_lon', 'end_lat', 'end_lon']].round(2)
stevents_03[['begin_lat1', 'begin_lon1', 'end_lat1', 'end_lon1']] = tojoinable(stevents_03[['begin_lat', 'begin_lon', 'end_lat', 'end_lon']])
stevents_subset = stevents_03[stevent_cols]
stevents_subset.sort_values(by='begin_date_time').head()

,begin_date_time,end_date_time,begin_lat1,begin_lon1,end_lat1,end_lon1,event_id
226,2003-02-15 12:00:00,2003-02-15 12:02:00,2995,-9200,2995,-9200,5344180
161,2003-02-15 16:20:00,2003-02-15 16:22:00,3213,-8978,3215,-8978,5342364
192,2003-02-15 16:43:00,2003-02-15 16:48:00,3218,-8960,3228,-8958,5342466
193,2003-02-15 16:48:00,2003-02-15 16:53:00,3222,-8955,3225,-8953,5342467
187,2003-02-15 17:25:00,2003-02-15 17:27:00,3235,-8927,3236,-8923,5342469

In [167]:
merged = spc_subset.merge(stevents_subset, 
             left_on=['date_time', 'slat1', 'slon1'], 
             right_on=['begin_date_time', 'begin_lat1', 'begin_lon1'],
             how='outer', indicator=True)

In [191]:
merged_sorted = merged.sort_values('date_time')
criteria = merged_sorted.date_time.between('2003-02-15 12:00', '2003-02-16 12:00')
merged_sorted.loc[criteria, spc_cols + stevent_cols + ['_merge']]

,date_time,slat1,slon1,elat1,elon1,len,mag,f1,f2,begin_date_time,end_date_time,begin_lat1,begin_lon1,end_lat1,end_lon1,event_id,_merge
0,2003-02-15 12:00:00,2995.0,-9200.0,2995.0,-9200.0,0.5,1.0,113.0,0.0,2003-02-15 12:00:00,2003-02-15 12:02:00,2995.0,-9200.0,2995.0,-9200.0,5344180.0,both
1,2003-02-15 16:20:00,3213.0,-8978.0,3215.0,-8978.0,1.0,0.0,121.0,0.0,2003-02-15 16:20:00,2003-02-15 16:22:00,3213.0,-8978.0,3215.0,-8978.0,5342364.0,both
2,2003-02-15 16:43:00,3218.0,-8960.0,3227.0,-8953.0,3.5,0.0,129.0,123.0,2003-02-15 16:43:00,2003-02-15 16:48:00,3218.0,-8960.0,3228.0,-8958.0,5342466.0,both
3,2003-02-15 17:25:00,3235.0,-8927.0,3236.0,-8923.0,2.0,1.0,101.0,0.0,2003-02-15 17:25:00,2003-02-15 17:27:00,3235.0,-8927.0,3236.0,-8923.0,5342469.0,both
4,2003-02-15 20:36:00,3233.0,-8782.0,3236.0,-8777.0,2.5,1.0,91.0,0.0,2003-02-15 20:36:00,2003-02-15 20:40:00,3233.0,-8782.0,3236.0,-8777.0,5340389.0,both
5,2003-02-16 04:00:00,3007.0,-8558.0,3007.0,-8558.0,0.2,1.0,5.0,0.0,2003-02-16 04:00:00,2003-02-16 04:00:00,3007.0,-8558.0,3007.0,-8558.0,5342682.0,both
6,2003-02-16 04:30:00,3063.0,-8572.0,3063.0,-8572.0,0.2,0.0,133.0,0.0,2003-02-16 04:30:00,2003-02-16 04:30:00,3063.0,-8572.0,3063.0,-8572.0,5342779.0,both
7,2003-02-16 05:37:00,2982.0,-8530.0,2982.0,-8530.0,0.2,0.0,45.0,0.0,2003-02-16 05:37:00,2003-02-16 05:37:00,2982.0,-8530.0,2982.0,-8530.0,5342778.0,both
8,2003-02-16 07:25:00,3103.0,-8420.0,3112.0,-8422.0,2.4,1.0,131.0,205.0,2003-02-16 07:25:00,2003-02-16 07:26:00,3103.0,-8420.0,3103.0,-8420.0,5342780.0,both

In [168]:
core = merged[merged._merge == 'both']

In [169]:
spconly = merged.loc[merged._merge == 'left_only', spc_cols]
steventsonly = merged.loc[merged._merge == 'right_only', stevent_cols]

In [170]:
# del steventsonly['_merge']
spcwithf2 = spconly.loc[spconly.f2 != 0, spc_cols]
end_merged = steventsonly.merge(spcwithf2, left_on=['end_lat1', 'end_lon1'], 
                                right_on=['elat1', 'elon1'], indicator=True, how='outer')

In [172]:
segments = end_merged[end_merged._merge == 'both']
outliers_stevents = end_merged[end_merged._merge == 'left_only']
outliers_spc = end_merged[end_merged._merge == 'right_only']

In [173]:
core

,date_time,slat1,slon1,elat1,elon1,len,mag,f1,f2,begin_date_time,end_date_time,begin_lat1,begin_lon1,end_lat1,end_lon1,event_id,_merge
0,2003-02-15 12:00:00,2995.0,-9200.0,2995.0,-9200.0,0.5,1.0,113.0,0.0,2003-02-15 12:00:00,2003-02-15 12:02:00,2995.0,-9200.0,2995.0,-9200.0,5344180.0,both
1,2003-02-15 16:20:00,3213.0,-8978.0,3215.0,-8978.0,1.0,0.0,121.0,0.0,2003-02-15 16:20:00,2003-02-15 16:22:00,3213.0,-8978.0,3215.0,-8978.0,5342364.0,both
2,2003-02-15 16:43:00,3218.0,-8960.0,3227.0,-8953.0,3.5,0.0,129.0,123.0,2003-02-15 16:43:00,2003-02-15 16:48:00,3218.0,-8960.0,3228.0,-8958.0,5342466.0,both
3,2003-02-15 17:25:00,3235.0,-8927.0,3236.0,-8923.0,2.0,1.0,101.0,0.0,2003-02-15 17:25:00,2003-02-15 17:27:00,3235.0,-8927.0,3236.0,-8923.0,5342469.0,both
4,2003-02-15 20:36:00,3233.0,-8782.0,3236.0,-8777.0,2.5,1.0,91.0,0.0,2003-02-15 20:36:00,2003-02-15 20:40:00,3233.0,-8782.0,3236.0,-8777.0,5340389.0,both
5,2003-02-16 04:00:00,3007.0,-8558.0,3007.0,-8558.0,0.2,1.0,5.0,0.0,2003-02-16 04:00:00,2003-02-16 04:00:00,3007.0,-8558.0,3007.0,-8558.0,5342682.0,both
6,2003-02-16 04:30:00,3063.0,-8572.0,3063.0,-8572.0,0.2,0.0,133.0,0.0,2003-02-16 04:30:00,2003-02-16 04:30:00,3063.0,-8572.0,3063.0,-8572.0,5342779.0,both
7,2003-02-16 05:37:00,2982.0,-8530.0,2982.0,-8530.0,0.2,0.0,45.0,0.0,2003-02-16 05:37:00,2003-02-16 05:37:00,2982.0,-8530.0,2982.0,-8530.0,5342778.0,both
8,2003-02-16 07:25:00,3103.0,-8420.0,3112.0,-8422.0,2.4,1.0,131.0,205.0,2003-02-16 07:25:00,2003-02-16 07:26:00,3103.0,-8420.0,3103.0,-8420.0,5342780.0,both
9,2003-02-21 23:35:00,3120.0,-8723.0,3120.0,-8723.0,0.1,0.0,53.0,0.0,2003-02-21 23:35:00,2003-02-21 23:37:00,3120.0,-8723.0,3120.0,-8723.0,5343209.0,both
10,2003-02-21 23:40:00,3133.0,-8712.0,3133.0,-8712.0,0.1,0.0,35.0,0.0,2003-02-21 23:40:00,2003-02-21 23:41:00,3133.0,-8712.0,3133.0,-8712.0,5343210.0,both
11,2003-02-22 09:05:00,3492.0,-8103.0,3492.0,-8103.0,0.2,0.0,91.0,0.0,2003-02-22 09:05:00,2003-02-22 09:06:00,3492.0,-8103.0,3492.0,-8103.0,5344679.0,both
12,2003-02-22 09:18:00,3358.0,-8222.0,3360.0,-8218.0,2.0,2.0,73.0,0.0,2003-02-22 09:18:00,2003-02-22 09:21:00,3358.0,-8222.0,3360.0,-8218.0,5339009.0,both
13,2003-02-22 10:31:00,3177.0,-8235.0,3177.0,-8235.0,0.1,0.0,1.0,0.0,2003-02-22 10:31:00,2003-02-22 10:31:00,3177.0,-8235.0,3177.0,-8235.0,5339753.0,both
14,2003-02-22 13:41:00,3678.0,-7662.0,3678.0,-7662.0,1.0,0.0,800.0,0.0,2003-02-22 13:41:00,2003-02-22 13:41:00,3678.0,-7662.0,3678.0,-7662.0,5345224.0,both
15,2003-02-22 15:09:00,3754.0,-8355.0,3754.0,-8355.0,0.5,1.0,25.0,0.0,2003-02-22 15:09:00,2003-02-22 15:10:00,3754.0,-8355.0,3754.0,-8355.0,5345281.0,both
16,2003-02-22 16:55:00,3475.0,-7742.0,3475.0,-7742.0,0.1,0.0,133.0,0.0,2003-02-22 16:55:00,2003-02-22 16:55:00,3475.0,-7742.0,3475.0,-7742.0,5342225.0,both
17,2003-02-28 13:15:00,3347.0,-11190.0,3390.0,-11193.0,0.5,0.0,13.0,0.0,2003-02-28 13:15:00,2003-02-28 13:20:00,3347.0,-11190.0,3390.0,-11193.0,5342541.0,both
18,2003-03-06 02:48:00,3375.0,-8568.0,3375.0,-8558.0,9.0,1.0,15.0,29.0,2003-03-06 02:48:00,2003-03-06 02:51:00,3375.0,-8568.0,3377.0,-8563.0,5348835.0,both
19,2003-03-10 18:44:00,2738.0,-8255.0,2738.0,-8252.0,3.0,0.0,115.0,0.0,2003-03-10 18:44:00,2003-03-10 18:50:00,2738.0,-8255.0,2738.0,-8252.0,5344200.0,both
20,2003-03-12 20:54:00,3736.0,-9545.0,3736.0,-9540.0,3.0,1.0,99.0,0.0,2003-03-12 20:54:00,2003-03-12 21:00:00,3736.0,-9545.0,3736.0,-9540.0,5344869.0,both
21,2003-03-17 14:57:00,3500.0,-9903.0,3502.0,-9902.0,1.5,1.0,75.0,0.0,2003-03-17 14:57:00,2003-03-17 15:03:00,3500.0,-9903.0,3502.0,-9902.0,5345904.0,both
22,2003-03-17 15:05:00,3502.0,-9902.0,3508.0,-9902.0,3.0,1.0,75.0,0.0,2003-03-17 15:05:00,2003-03-17 15:17:00,3502.0,-9902.0,3507.0,-9902.0,5344456.0,both
23,2003-03-17 15:17:00,3503.0,-9867.0,3503.0,-9867.0,0.1,0.0,75.0,0.0,2003-03-17 15:17:00,2003-03-17 15:17:00,3503.0,-9867.0,3503.0,-9867.0,5344458.0,both
24,2003-03-17 15:43:00,3977.0,-10423.0,3977.0,-10423.0,0.1,0.0,1.0,0.0,2003-03-17 15:43:00,2003-03-17 15:45:00,3977.0,-10423.0,3977.0,-10423.0,5347556.0,both
25,2003-03-17 17:45:00,3260.0,-9818.0,3260.0,-9818.0,0.1,0.0,363.0,0.0,2003-03-17 17:45:00,2003-03-17 17:45:00,3260.0,-9818.0,3260.0,-9818.0,5349260.0,both
26,2003-03-17 18:03:00,3458.0,-9822.0,3458.0,-9822.0,0.1,0.0,31.0,0.0,2003-03-17 18:03:00,2003-03-17 18:03:00,3458.0,-9822.0,3458.0,-9822.0,5344457.0,both
27,2003-03-18 11:45:00,3022.0,-9533.0,3022.0,-9533.0,0.5,0.0,339.0,0.0,2003-03-18 11:45:00,2003-03-18 11:45:00,3022.0,-9533.0,3022.0,-9533.0,5349133.0,both
28,2003-03-18 17:20:00,3130.0,-9207.0,3130.0,-9207.0,1.0,0.0,9.0,0.0,2003-03-18 17:20:00,2003-03-18 17:22:00,3130.0,-9207.0,3130.0,-9207.0,5346368.0,both
29,2003-03-18 17:33:00,3140.0,-9195.0,3145.0,-9187.0,5.0,0.0,25.0,0.0,2003-03-18 17:33:00,2003-03-18 17:39:00,3140.0,-9195.0,3145.0,-9187.0,5344905.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,2003-11-17 17:30:00,2983.0,-9477.0,2983.0,-9477.0,0.5,1.0,71.0,0.0,2003-11-17 17:30:00,2003-11-17 17:40:00,2983.0,-9477.0,2983.0,-9477.0,5331892.0,both
1391,2003-11-17 17:42:00,2990.0,-9473.0,2990.0,-9473.0,0.2,0.0,291.0,0.0,2003-11-17 17:42:00,2003-11-17 17:48:00,2990.0,-9473.0,2990.0,-9473.0,5331470.0,both
1392,2003-11-17 17:45:00,2993.0,-9472.0,2993.0,-9472.0,0.2,1.0,291.0,0.0,2003-11-17 17:45:00,2003-11-17 17:55:00,2993.0,-9472.0,2993.0,-9472.0,5331471.0,both
1393,2003-11-17 20:55:00,2953.0,-9542.0,2953.0,-9542.0,1.4,0.0,167.0,201.0,2003-11-17 20:55:00,2003-11-17 21:00:00,2953.0,-9542.0,2953.0,-9542.0,5331894.0,both
1394,2003-11-17 21:08:00,2953.0,-9542.0,2953.0,-9542.0,0.2,1.0,167.0,0.0,2003-11-17 21:08:00,2003-11-17 21:15:00,2953.0,-9542.0,2953.0,-9542.0,5331895.0,both
1395,2003-11-17 21:15:00,2953.0,-9542.0,2953.0,-9542.0,0.2,1.0,167.0,0.0,2003-11-17 21:15:00,2003-11-17 21:18:00,2953.0,-9542.0,2953.0,-9542.0,5331896.0,both
1396,2003-11-17 21:15:00,3113.0,-9348.0,3115.0,-9347.0,1.0,2.0,351.0,0.0,2003-11-17 21:15:00,2003-11-17 21:16:00,3113.0,-9348.0,3115.0,-9347.0,5328596.0,both
1397,2003-11-17 21:30:00,2975.0,-9505.0,2975.0,-9505.0,0.5,0.0,201.0,0.0,2003-11-17 21:30:00,2003-11-17 21:35:00,2975.0,-9505.0,2975.0,-9505.0,5331897.0,both
1398,2003-11-17 22:30:00,2972.0,-9505.0,2972.0,-9505.0,1.5,1.0,201.0,0.0,2003-11-17 22:30:00,2003-11-17 22:35:00,2972.0,-9505.0,2972.0,-9505.0,5331992.0,both
1399,2003-11-17 23:15:00,3092.0,-9408.0,3097.0,-9407.0,5.0,1.0,241.0,0.0,2003-11-17 23:15:00,2003-11-17 23:18:00,3092.0,-9408.0,3097.0,-9407.0,5328593.0,both
1400,2003-11-17 23:35:00,2960.0,-9470.0,2960.0,-9470.0,1.0,1.0,71.0,0.0,2003-11-17 23:35:00,2003-11-17 23:45:00,2960.0,-9470.0,2960.0,-9470.0,5331900.0,both
1401,2003-11-18 01:00:00,3008.0,-9410.0,3008.0,-9410.0,0.2,0.0,245.0,0.0,2003-11-18 01:00:00,2003-11-18 01:01:00,3008.0,-9410.0,3008.0,-9410.0,5328598.0,both
1402,2003-11-18 04:00:00,3090.0,-9218.0,3095.0,-9212.0,4.0,1.0,9.0,0.0,2003-11-18 04:00:00,2003-11-18 04:02:00,3090.0,-9218.0,3095.0,-9212.0,5329053.0,both
1403,2003-11-18 05:35:00,3254.0,-9105.0,3263.0,-9098.0,5.0,1.0,149.0,55.0,2003-11-18 05:35:00,2003-11-18 05:36:00,3254.0,-9105.0,3254.0,-9105.0,5336598.0,both
1404,2003-11-18 06:00:00,3297.0,-9082.0,3297.0,-9082.0,0.5,1.0,125.0,0.0,2003-11-18 06:00:00,2003-11-18 06:01:00,3297.0,-9082.0,3297.0,-9082.0,5336600.0,both
1405,2003-11-18 08:26:00,3182.0,-8980.0,3203.0,-8948.0,23.5,1.0,127.0,129.0,2003-11-18 08:26:00,2003-11-18 08:37:00,3182.0,-8980.0,3192.0,-8967.0,5336126.0,both
1406,2003-11-18 09:27:00,2990.0,-9013.0,2990.0,-9013.0,0.3,1.0,51.0,0.0,2003-11-18 09:27:00,2003-11-18 09:30:00,2990.0,-9013.0,2990.0,-9013.0,5335086.0,both
1407,2003-11-18 10:15:00,3233.0,-8883.0,3233.0,-8883.0,0.2,0.0,75.0,0.0,2003-11-18 10:15:00,2003-11-18 10:16:00,3233.0,-8883.0,3233.0,-8883.0,5336498.0,both
1408,2003-11-18 11:47:00,3317.0,-8755.0,3325.0,-8750.0,6.3,1.0,125.0,0.0,2003-11-18 11:47:00,2003-11-18 11:54:00,3317.0,-8755.0,3325.0,-8750.0,5335845.0,both
1409,2003-11-18 12:07:00,3372.0,-8738.0,3377.0,-8727.0,6.3,1.0,127.0,0.0,2003-11-18 12:07:00,2003-11-18 12:14:00,3372.0,-8738.0,3377.0,-8727.0,5335844.0,both
1410,2003-11-19 02:40:00,3447.0,-8328.0,3447.0,-8323.0,4.0,0.0,119.0,0.0,2003-11-19 02:40:00,2003-11-19 02:47:00,3447.0,-8328.0,3447.0,-8323.0,5330950.0,both
1411,2003-11-19 02:55:00,3452.0,-8332.0,3453.0,-8315.0,10.0,0.0,257.0,0.0,2003-11-19 02:55:00,2003-11-19 03:07:00,3452.0,-8332.0,3453.0,-8315.0,5330951.0,both
1412,2003-11-19 03:15:00,3410.0,-8260.0,3418.0,-8238.0,15.0,0.0,1.0,0.0,2003-11-19 03:15:00,2003-11-19 03:30:00,3410.0,-8260.0,3418.0,-8238.0,5331075.0,both
1413,2003-11-19 13:10:00,3572.0,-7727.0,3572.0,-7727.0,0.0,0.0,147.0,0.0,2003-11-19 13:10:00,2003-11-19 13:10:00,3572.0,-7727.0,3572.0,-7727.0,5332036.0,both
1414,2003-11-26 21:50:00,3075.0,-9332.0,3092.0,-9308.0,18.0,2.0,11.0,115.0,2003-11-26 21:50:00,2003-11-26 22:15:00,3075.0,-9332.0,3085.0,-9308.0,5329058.0,both
1415,2003-11-27 04:11:00,3147.0,-8980.0,3145.0,-8975.0,2.0,1.0,65.0,0.0,2003-11-27 04:11:00,2003-11-27 04:15:00,3147.0,-8980.0,3145.0,-8975.0,5371653.0,both
1416,2003-11-27 04:40:00,3150.0,-8957.0,3153.0,-8950.0,4.5,0.0,31.0,0.0,2003-11-27 04:40:00,2003-11-27 04:49:00,3150.0,-8957.0,3153.0,-8950.0,5371655.0,both
1417,2003-11-27 04:55:00,3160.0,-8937.0,3160.0,-8932.0,3.0,1.0,67.0,0.0,2003-11-27 04:55:00,2003-11-27 05:01:00,3160.0,-8937.0,3160.0,-8932.0,5371656.0,both
1418,2003-11-28 14:28:00,2928.0,-8233.0,2928.0,-8233.0,0.2,0.0,83.0,0.0,2003-11-28 14:28:00,2003-11-28 14:28:00,2928.0,-8233.0,2928.0,-8233.0,5336742.0,both
1419,2003-12-09 15:42:00,3360.0,-9248.0,3361.0,-9248.0,1.0,1.0,13.0,0.0,2003-12-09 15:42:00,2003-12-09 15:47:00,3360.0,-9248.0,3360.0,-9248.0,5327845.0,both

In [174]:
segments

,begin_date_time,end_date_time,begin_lat1,begin_lon1,end_lat1,end_lon1,event_id,date_time,slat1,slon1,elat1,elon1,len,mag,f1,f2,_merge
8,2003-07-13 13:30:00,2003-07-13 13:45:00,3475.0,-8263.0,3475.0,-8253.0,5329643.0,2003-07-13 13:20:00,3479.0,-8270.0,3475.0,-8253.0,12.0,1.0,77.0,7.0,both
13,2003-05-09 14:55:00,2003-05-09 15:00:00,3675.0,-7733.0,3672.0,-7731.0,5331061.0,2003-05-09 14:50:00,3675.0,-7733.0,3672.0,-7731.0,4.0,0.0,175.0,175.0,both
49,2003-05-14 20:40:00,2003-05-14 20:50:00,3322.0,-9422.0,3315.0,-9407.0,5353104.0,2003-05-14 19:45:00,3368.0,-9470.0,3315.0,-9407.0,51.8,2.0,37.0,67.0,both
54,2003-05-06 22:35:00,2003-05-06 23:02:00,3660.0,-8880.0,3653.0,-8850.0,5352476.0,2003-05-06 22:32:00,3661.0,-8885.0,3653.0,-8850.0,22.0,1.0,105.0,83.0,both
56,2003-05-07 00:01:00,2003-05-07 00:18:00,3272.0,-9463.0,3282.0,-9452.0,5354154.0,2003-05-06 22:45:00,3268.0,-9545.0,3282.0,-9452.0,54.4,2.0,499.0,459.0,both
63,2003-04-15 18:30:00,2003-04-15 18:36:00,3452.0,-9987.0,3453.0,-9978.0,5352590.0,2003-04-15 18:29:00,3450.0,-9983.0,3453.0,-9978.0,5.5,1.0,65.0,57.0,both
84,2003-04-19 23:47:00,2003-04-20 00:11:00,3625.0,-9247.0,3642.0,-9228.0,5350982.0,2003-04-19 23:43:00,3620.0,-9252.0,3642.0,-9228.0,16.0,1.0,89.0,5.0,both
113,2003-05-04 18:50:00,2003-05-04 19:03:00,3707.0,-9342.0,3713.0,-9337.0,5358175.0,2003-05-04 17:50:00,3692.0,-9420.0,3713.0,-9337.0,49.0,3.0,145.0,109.0,both
141,2003-05-16 18:42:00,2003-05-16 18:44:00,3486.0,-9207.0,3488.0,-9205.0,5360794.0,2003-05-16 18:35:00,3479.0,-9217.0,3488.0,-9205.0,8.2,0.0,119.0,85.0,both
144,2003-05-07 13:47:00,2003-05-07 13:49:00,3318.0,-8647.0,3318.0,-8645.0,5361201.0,2003-05-07 13:45:00,3320.0,-8647.0,3318.0,-8645.0,1.3,1.0,117.0,121.0,both
157,2003-05-16 15:26:00,2003-05-16 15:32:00,3528.0,-9210.0,3529.0,-9205.0,5360660.0,2003-05-16 15:25:00,3527.0,-9213.0,3529.0,-9205.0,6.0,1.0,45.0,145.0,both
164,2003-05-09 21:26:00,2003-05-09 21:27:00,3917.0,-9348.0,3915.0,-9347.0,5360276.0,2003-05-09 21:15:00,3908.0,-9362.0,3915.0,-9347.0,10.0,2.0,107.0,195.0,both
191,2003-05-09 22:15:00,2003-05-09 22:24:00,3560.0,-9715.0,3565.0,-9708.0,5361344.0,2003-05-09 22:06:00,3561.0,-9720.0,3565.0,-9708.0,7.0,1.0,109.0,81.0,both
228,2003-05-30 19:48:00,2003-05-30 19:51:00,4017.0,-8915.0,4015.0,-8908.0,5357056.0,2003-05-30 19:38:00,4020.0,-8933.0,4015.0,-8908.0,14.0,2.0,107.0,39.0,both
244,2003-05-10 14:52:00,2003-05-10 15:25:00,3858.0,-8362.0,3857.0,-8320.0,5362618.0,2003-05-10 14:45:00,3861.0,-8372.0,3857.0,-8320.0,25.0,3.0,161.0,135.0,both

In [176]:
outliers_spc[spc_cols]

,date_time,slat1,slon1,elat1,elon1,len,mag,f1,f2
260,2003-05-06 20:32:00,3727.0,-8903.0,3738.0,-8848.0,33.0,4.0,153.0,127.0

In [182]:
steventsonly[stevent_cols].sort_values('begin_date_time')

,begin_date_time,end_date_time,begin_lat1,begin_lon1,end_lat1,end_lon1,event_id
1449,2003-02-15 16:48:00,2003-02-15 16:53:00,3222.0,-8955.0,3225.0,-8953.0,5342467.0
1447,2003-02-16 07:26:00,2003-02-16 07:30:00,3107.0,-8422.0,3112.0,-8422.0,5342781.0
1509,2003-03-06 02:51:00,2003-03-06 02:57:00,3378.0,-8562.0,3375.0,-8558.0,5348836.0
1452,2003-03-20 04:25:00,2003-03-20 04:30:00,3137.0,-8403.0,3140.0,-8395.0,5347028.0
1448,2003-03-27 13:20:00,2003-03-27 13:25:00,2618.0,-81408.0,2617.0,-8175.0,5344665.0
1446,2003-03-27 16:20:00,2003-03-27 16:22:00,2598.0,-8015.0,2598.0,-8015.0,5344777.0
1451,2003-03-29 17:25:00,2003-03-29 17:25:00,3852.0,-77002.0,3852.0,-77002.0,5347621.0
1501,2003-04-04 15:11:00,2003-04-04 15:11:00,4025.0,-8923.0,4025.0,-8923.0,5350606.0
1455,2003-04-04 15:48:00,2003-04-04 15:48:00,4018.0,-8897.0,4018.0,-8897.0,5350405.0
1456,2003-04-04 15:53:00,2003-04-04 15:53:00,4018.0,-8882.0,4018.0,-8882.0,5350406.0
1454,2003-04-04 16:08:00,2003-04-04 16:18:00,3847.0,-8947.0,3853.0,-8942.0,5350410.0
1459,2003-04-04 18:35:00,2003-04-04 18:35:00,3978.0,-8788.0,3978.0,-8788.0,5350505.0
1489,2003-04-05 15:00:00,2003-04-05 15:00:00,3290.0,-10040.0,3290.0,-10040.0,5352792.0
1467,2003-04-05 20:21:00,2003-04-05 20:22:00,3282.0,-9693.0,3282.0,-9693.0,5353482.0
1506,2003-04-06 10:51:00,2003-04-06 10:52:00,3245.0,-9087.0,3245.0,-9087.0,5351224.0
1502,2003-04-06 10:57:00,2003-04-06 11:03:00,3267.0,-9038.0,3267.0,-9032.0,5350938.0
1507,2003-04-06 12:35:00,2003-04-06 13:20:00,3192.0,-9498.0,3225.0,-9468.0,5348725.0
1486,2003-04-06 14:04:00,2003-04-06 14:21:00,3254.0,-8892.0,3253.0,-8868.0,5350935.0
1508,2003-04-06 15:03:00,2003-04-06 15:27:00,3145.0,-9473.0,3157.0,-9452.0,5348729.0
1499,2003-04-06 18:15:00,2003-04-06 18:16:00,3267.0,-9003.0,3267.0,-9003.0,5351016.0
1453,2003-04-06 18:46:00,2003-04-06 18:47:00,3168.0,-9047.0,3168.0,-9045.0,5350509.0
1644,2003-04-07 00:16:00,2003-04-07 00:17:00,3207.0,-8713.0,3207.0,-8713.0,5354287.0
1493,2003-04-15 17:55:00,2003-04-15 17:58:00,3536.0,-9992.0,3540.0,-9992.0,5351187.0
1466,2003-04-15 18:23:00,2003-04-15 18:29:00,3447.0,-9992.0,3452.0,-9987.0,5353064.0
1479,2003-04-15 18:29:00,2003-04-15 18:30:00,3447.0,-9983.0,3447.0,-9983.0,5352589.0
1483,2003-04-15 18:30:00,2003-04-15 18:36:00,3452.0,-9987.0,3453.0,-9978.0,5352590.0
1450,2003-04-18 15:00:00,2003-04-18 15:20:00,2660.0,-80405.0,2655.0,-80405.0,5347759.0
1464,2003-04-19 17:05:00,2003-04-19 17:26:00,3685.0,-9600.0,3693.0,-9582.0,5353110.0
1465,2003-04-19 17:26:00,2003-04-19 17:30:00,3693.0,-9580.0,3695.0,-9573.0,5353111.0
1503,2003-04-19 23:43:00,2003-04-19 23:47:00,3618.0,-9252.0,3622.0,-9247.0,5350981.0
...,...,...,...,...,...,...,...
1431,2003-07-09 17:22:00,2003-07-09 17:22:00,4007.0,-8830.0,4007.0,-8830.0,5329927.0
1654,2003-07-10 17:42:00,2003-07-10 17:55:00,3825.0,-77205.0,3829.0,-7733.0,5368413.0
1426,2003-07-12 19:00:00,2003-07-12 19:25:00,3536.0,-81200.0,3529.0,-8102.0,5329529.0
1424,2003-07-13 13:20:00,2003-07-13 13:30:00,3478.0,-8270.0,3472.0,-8262.0,5329603.0
1425,2003-07-13 13:25:00,2003-07-13 13:40:00,3478.0,-8258.0,3472.0,-8252.0,5329605.0
1428,2003-07-13 13:30:00,2003-07-13 13:45:00,3475.0,-8263.0,3475.0,-8253.0,5329643.0
1676,2003-07-13 17:52:00,2003-07-13 18:10:00,4758.0,-10100.0,4747.0,-10058.0,5376355.0
1422,2003-07-19 12:58:00,2003-07-19 13:00:00,3643.0,-80010.0,3642.0,-80010.0,5379364.0
1429,2003-07-19 15:04:00,2003-07-19 15:05:00,4598.0,-9465.0,4598.0,-9465.0,5329610.0
1435,2003-08-01 17:55:00,2003-08-01 17:56:00,4029.0,-8522.0,4029.0,-8522.0,5333072.0
1438,2003-08-04 23:05:00,2003-08-04 23:07:00,3735.0,-79510.0,3733.0,-79510.0,5332661.0
1442,2003-08-08 12:48:00,2003-08-08 12:48:00,3678.0,-7609.0,3678.0,-7609.0,5337447.0
1675,2003-08-11 15:12:00,2003-08-11 15:13:00,2935.0,-9888.0,2935.0,-9888.0,5377563.0
1439,2003-08-14 10:01:00,2003-08-14 10:02:00,3493.0,-76210.0,3493.0,-76210.0,5334708.0
1653,2003-08-21 19:10:00,2003-08-21 19:12:00,4263.0,-8412.0,4263.0,-8412.0,5368437.0
1445,2003-08-22 14:20:00,2003-08-22 14:21:00,3954.0,-11187.0,3954.0,-11187.0,5380008.0
1444,2003-09-05 18:03:00,2003-09-05 18:10:00,3836.0,-10492.0,3836.0,-10490.0,5337985.0
1443,2003-09-22 22:30:00,2003-09-22 22:32:00,3677.0,-78502.0,3678.0,-78502.0,5337745.0
1673,2003-10-16 17:30:00,2003-10-16 17:33:00,3547.0,-8123.0,3547.0,-8120.0,5372322.0
1666,2003-10-27 15:01:00,2003-10-27 15:01:00,4047.0,-74205.0,4047.0,-74205.0,5371882.0
1420,2003-11-05 14:00:00,2003-11-05 14:04:00,3911.0,-77307.0,3913.0,-7752.0,5379991.0
1421,2003-11-05 14:04:00,2003-11-05 14:08:00,3911.0,-7756.0,3913.0,-7752.0,5379992.0
1679,2003-11-05 14:08:00,2003-11-05 14:15:00,3902.0,-7722.0,3911.0,-7745.0,5379730.0
1678,2003-11-05 14:10:00,2003-11-05 14:25:00,3915.0,-7745.0,3918.0,-7728.0,5379733.0
1432,2003-11-17 12:20:00,2003-11-17 12:25:00,2962.0,-9555.0,2962.0,-9555.0,5331341.0
1437,2003-11-17 17:20:00,2003-11-17 17:20:00,4078.0,-9623.0,4078.0,-9623.0,5332319.0
1436,2003-11-17 21:00:00,2003-11-17 21:02:00,2953.0,-9542.0,2953.0,-9542.0,5331994.0
1441,2003-11-18 05:36:00,2003-11-18 05:44:00,3252.0,-9100.0,3263.0,-9098.0,5336599.0
1440,2003-11-18 08:37:00,2003-11-18 08:50:00,3192.0,-8967.0,3203.0,-8948.0,5336127.0
1427,2003-11-26 22:15:00,2003-11-26 22:20:00,3090.0,-9310.0,3092.0,-9308.0,5329059.0

In [179]:
criteria = stevents_03.begin_date_time.between('2003-02-15 16:00', '2003-02-16 12:00')
stevents_03[criteria].sort_values('begin_date_time')[stevent_cols]

,begin_date_time,end_date_time,begin_lat1,begin_lon1,end_lat1,end_lon1,event_id
161,2003-02-15 16:20:00,2003-02-15 16:22:00,3213,-8978,3215,-8978,5342364
192,2003-02-15 16:43:00,2003-02-15 16:48:00,3218,-8960,3228,-8958,5342466
193,2003-02-15 16:48:00,2003-02-15 16:53:00,3222,-8955,3225,-8953,5342467
187,2003-02-15 17:25:00,2003-02-15 17:27:00,3235,-8927,3236,-8923,5342469
150,2003-02-15 20:36:00,2003-02-15 20:40:00,3233,-8782,3236,-8777,5340389
191,2003-02-16 04:00:00,2003-02-16 04:00:00,3007,-8558,3007,-8558,5342682
176,2003-02-16 04:30:00,2003-02-16 04:30:00,3063,-8572,3063,-8572,5342779
170,2003-02-16 05:37:00,2003-02-16 05:37:00,2982,-8530,2982,-8530,5342778
167,2003-02-16 07:25:00,2003-02-16 07:26:00,3103,-8420,3103,-8420,5342780
168,2003-02-16 07:26:00,2003-02-16 07:30:00,3107,-8422,3112,-8422,5342781