In [1]:
from datasrcs.spc import load_tor_segments
from datasrcs.stormevents import load_tor_events

import pandas as pd
import numpy as np

%env WORKDIR=~/weatherpy-work

env: WORKDIR=~/weatherpy-work

In [5]:
spc_segs = load_tor_segments(to_tz='CST')
spc_03 = spc_segs[spc_segs.yr == 2003]

stevents_03 = load_tor_events('2003-01-01', '2003-12-31', tz='CST')

In [6]:
spc_03.columns

Index(['date_time', 'om', 'yr', 'mo', 'dy', 'tz', 'st', 'stf', 'stn', 'mag',
       'inj', 'fat', 'loss', 'closs', 'slat', 'slon', 'elat', 'elon', 'len',
       'wid', 'ns', 'sn', 'sg', 'f1', 'f2', 'f3', 'f4', 'fc'],
      dtype='object')

In [19]:
spc_cols = ['date_time', 'slat', 'slon', 'elat', 'elon', 'len', 'mag', 'f1', 'f2', 'om']
# spc_03[['slat1', 'slon1', 'elat1', 'elon1']] = tojoinable(spc_subset[['slat', 'slon', 'elat', 'elon']])
spc_subset = spc_03[spc_cols]
spc_subset.sort_values(by='date_time').head()

                date_time   slat   slon   elat   elon  len  mag   f1   f2   om
44410 2003-02-15 12:00:00  29.95 -92.00  29.95 -92.00  0.5    1  113    0    9
44411 2003-02-15 16:20:00  32.13 -89.78  32.15 -89.78  1.0    0  121    0  688
44412 2003-02-15 16:43:00  32.18 -89.60  32.27 -89.53  3.5    0  129  123  689
44413 2003-02-15 17:25:00  32.35 -89.27  32.37 -89.23  2.0    1  101    0  690
44414 2003-02-15 20:36:00  32.33 -87.82  32.37 -87.77  2.5    1   91    0    4

In [20]:
stevent_cols = ['begin_date_time', 'end_date_time', 'begin_lat', 'begin_lon', 'end_lat', 'end_lon', 'event_id']
# stevents_03[['begin_lat', 'begin_lon', 'end_lat', 'end_lon']] = stevents_03[['begin_lat', 'begin_lon', 'end_lat', 'end_lon']].round(2)
# stevents_03[['begin_lat1', 'begin_lon1', 'end_lat1', 'end_lon1']] = tojoinable(stevents_03[['begin_lat', 'begin_lon', 'end_lat', 'end_lon']])
stevents_subset = stevents_03[stevent_cols].round(2)
stevents_subset.sort_values(by='begin_date_time').head()

,begin_date_time,end_date_time,begin_lat,begin_lon,end_lat,end_lon,event_id
226,2003-02-15 12:00:00,2003-02-15 12:02:00,29.95,-92.00,29.95,-92.00,5344180
161,2003-02-15 16:20:00,2003-02-15 16:22:00,32.13,-89.78,32.15,-89.78,5342364
192,2003-02-15 16:43:00,2003-02-15 16:48:00,32.18,-89.60,32.28,-89.58,5342466
193,2003-02-15 16:48:00,2003-02-15 16:53:00,32.23,-89.55,32.25,-89.53,5342467
187,2003-02-15 17:25:00,2003-02-15 17:27:00,32.35,-89.27,32.37,-89.23,5342469

In [21]:
merged = spc_subset.merge(stevents_subset, 
             left_on=['date_time', 'slat', 'slon'], 
             right_on=['begin_date_time', 'begin_lat', 'begin_lon'],
             how='outer', indicator=True)

In [22]:
core = merged[merged._merge == 'both']

In [23]:
spconly = merged.loc[merged._merge == 'left_only', spc_cols]
steventsonly = merged.loc[merged._merge == 'right_only', stevent_cols]

In [24]:
spcwithf2 = spc_subset.loc[spc_subset.f2 != 0, spc_cols]
end_merged = steventsonly.merge(spcwithf2, left_on=['end_lat', 'end_lon'], 
                                right_on=['elat', 'elon'], indicator=True, how='outer')

In [25]:
segments = end_merged[end_merged._merge == 'both']
outliers_stevents = end_merged[end_merged._merge == 'left_only']
outliers_spc = end_merged[end_merged._merge == 'right_only']

In [26]:
len(core), len(segments), len(outliers_stevents)

(1294, 108, 152)

In [27]:
core.head()

,date_time,slat,slon,elat,elon,len,mag,f1,f2,om,begin_date_time,end_date_time,begin_lat,begin_lon,end_lat,end_lon,event_id,_merge
0,2003-02-15 12:00:00,29.95,-92.00,29.95,-92.00,0.5,1.0,113.0,0.0,9.0,2003-02-15 12:00:00,2003-02-15 12:02:00,29.95,-92.00,29.95,-92.00,5344180.0,both
1,2003-02-15 16:20:00,32.13,-89.78,32.15,-89.78,1.0,0.0,121.0,0.0,688.0,2003-02-15 16:20:00,2003-02-15 16:22:00,32.13,-89.78,32.15,-89.78,5342364.0,both
2,2003-02-15 16:43:00,32.18,-89.60,32.27,-89.53,3.5,0.0,129.0,123.0,689.0,2003-02-15 16:43:00,2003-02-15 16:48:00,32.18,-89.60,32.28,-89.58,5342466.0,both
3,2003-02-15 17:25:00,32.35,-89.27,32.37,-89.23,2.0,1.0,101.0,0.0,690.0,2003-02-15 17:25:00,2003-02-15 17:27:00,32.35,-89.27,32.37,-89.23,5342469.0,both
4,2003-02-15 20:36:00,32.33,-87.82,32.37,-87.77,2.5,1.0,91.0,0.0,4.0,2003-02-15 20:36:00,2003-02-15 20:40:00,32.33,-87.82,32.37,-87.77,5340389.0,both

In [28]:
segments.head()

,begin_date_time,end_date_time,begin_lat,begin_lon,end_lat,end_lon,event_id,date_time,slat,slon,elat,elon,len,mag,f1,f2,om,_merge
5,2003-07-13 13:25:00,2003-07-13 13:40:00,34.78,-82.58,34.73,-82.52,5329605.0,2003-07-13 13:15:00,34.78,-82.68,34.73,-82.52,12.0,1.0,77.0,7.0,565.0,both
7,2003-11-26 22:15:00,2003-11-26 22:20:00,30.90,-93.10,30.92,-93.08,5329059.0,2003-11-26 21:50:00,30.75,-93.32,30.92,-93.08,18.0,2.0,11.0,115.0,685.0,both
8,2003-07-13 13:30:00,2003-07-13 13:45:00,34.75,-82.63,34.75,-82.53,5329643.0,2003-07-13 13:20:00,34.80,-82.70,34.75,-82.53,12.0,1.0,77.0,7.0,566.0,both
9,2003-07-19 15:04:00,2003-07-19 15:05:00,45.98,-94.65,45.98,-94.65,5329610.0,2003-07-19 15:00:00,46.02,-94.72,45.98,-94.65,3.0,0.0,153.0,97.0,542.0,both
12,2003-11-17 12:20:00,2003-11-17 12:25:00,29.62,-95.55,29.62,-95.55,5331341.0,2003-11-17 12:15:00,29.63,-95.57,29.62,-95.55,1.0,2.0,157.0,201.0,1037.0,both

In [29]:
outliers_stevents[stevent_cols].sort_values('begin_date_time')

,begin_date_time,end_date_time,begin_lat,begin_lon,end_lat,end_lon,event_id
29,2003-02-15 16:48:00,2003-02-15 16:53:00,32.23,-89.55,32.25,-89.53,5342467.0
28,2003-03-27 13:20:00,2003-03-27 13:25:00,26.18,-814.08,26.17,-81.75,5344665.0
31,2003-03-29 17:25:00,2003-03-29 17:25:00,38.52,-770.02,38.52,-770.02,5347621.0
81,2003-04-04 15:11:00,2003-04-04 15:11:00,40.25,-89.23,40.25,-89.23,5350606.0
35,2003-04-04 15:48:00,2003-04-04 15:48:00,40.18,-88.97,40.18,-88.97,5350405.0
36,2003-04-04 15:53:00,2003-04-04 15:53:00,40.18,-88.82,40.18,-88.82,5350406.0
34,2003-04-04 16:08:00,2003-04-04 16:18:00,38.48,-89.47,38.53,-89.42,5350410.0
39,2003-04-04 18:35:00,2003-04-04 18:35:00,39.78,-87.88,39.78,-87.88,5350505.0
69,2003-04-05 15:00:00,2003-04-05 15:00:00,32.90,-100.40,32.90,-100.40,5352792.0
82,2003-04-06 10:57:00,2003-04-06 11:03:00,32.67,-90.38,32.67,-90.32,5350938.0
79,2003-04-06 18:15:00,2003-04-06 18:16:00,32.67,-90.03,32.67,-90.03,5351016.0
224,2003-04-07 00:16:00,2003-04-07 00:17:00,32.07,-87.13,32.07,-87.13,5354287.0
73,2003-04-15 17:55:00,2003-04-15 17:58:00,35.37,-99.92,35.40,-99.92,5351187.0
46,2003-04-15 18:23:00,2003-04-15 18:29:00,34.48,-99.92,34.52,-99.87,5353064.0
59,2003-04-15 18:29:00,2003-04-15 18:30:00,34.48,-99.83,34.48,-99.83,5352589.0
30,2003-04-18 15:00:00,2003-04-18 15:20:00,26.60,-804.05,26.55,-804.05,5347759.0
44,2003-04-19 17:05:00,2003-04-19 17:26:00,36.85,-96.00,36.93,-95.82,5353110.0
83,2003-04-19 23:43:00,2003-04-19 23:47:00,36.18,-92.52,36.22,-92.47,5350981.0
74,2003-04-20 00:23:00,2003-04-20 00:34:00,36.43,-92.15,36.48,-92.03,5351074.0
75,2003-04-24 19:45:00,2003-04-24 19:55:00,33.23,-92.23,33.25,-92.05,5350369.0
72,2003-04-25 08:42:00,2003-04-25 09:54:00,33.35,-802.05,33.42,-80.33,5352318.0
232,2003-04-25 13:30:00,2003-04-25 13:30:00,32.60,-87.75,32.60,-87.75,5354300.0
108,2003-04-29 19:04:00,2003-04-29 19:06:00,32.07,-100.33,32.07,-100.33,5358936.0
70,2003-04-30 18:22:00,2003-04-30 18:32:00,40.37,-93.97,40.42,-93.82,5351546.0
77,2003-04-30 18:35:00,2003-04-30 18:36:00,39.48,-94.68,39.52,-94.68,5351658.0
78,2003-04-30 20:53:00,2003-04-30 21:00:00,40.37,-92.60,40.37,-92.53,5351662.0
131,2003-05-01 17:04:00,2003-05-01 17:09:00,35.78,-95.30,35.77,-95.28,5358236.0
58,2003-05-01 19:15:00,2003-05-01 19:45:00,34.07,-94.80,33.95,-94.63,5354160.0
38,2003-05-04 16:40:00,2003-05-04 16:40:00,37.07,-95.08,37.07,-95.08,5349868.0
193,2003-05-04 16:45:00,2003-05-04 17:15:00,37.07,-94.95,37.17,-94.62,5358085.0
...,...,...,...,...,...,...,...
137,2003-06-13 19:25:00,2003-06-13 19:30:00,37.25,-101.97,37.25,-101.95,5364756.0
147,2003-06-22 19:12:00,2003-06-22 19:13:00,39.78,-97.90,39.78,-97.90,5364203.0
149,2003-06-22 21:17:00,2003-06-22 21:18:00,39.90,-97.58,39.90,-97.58,5364210.0
123,2003-06-28 22:15:00,2003-06-28 22:15:00,39.60,-101.05,39.60,-101.05,5359263.0
257,2003-07-01 04:29:00,2003-07-01 04:35:00,32.18,-86.38,32.25,-86.38,5375712.0
10,2003-07-01 15:56:00,2003-07-01 16:05:00,33.53,-83.53,33.58,-83.52,5329992.0
247,2003-07-01 21:03:00,2003-07-01 21:03:00,32.67,-81.60,32.75,-813.02,5370139.0
249,2003-07-01 22:02:00,2003-07-01 22:20:00,32.83,-810.15,32.93,-81.05,5370232.0
252,2003-07-02 02:00:00,2003-07-02 02:05:00,33.60,-795.02,33.63,-795.02,5373890.0
245,2003-07-02 12:40:00,2003-07-02 12:40:00,35.25,-770.10,35.25,-770.10,5370587.0
254,2003-07-02 18:00:00,2003-07-02 18:03:00,34.53,-784.05,34.53,-78.65,5373332.0
11,2003-07-09 17:22:00,2003-07-09 17:22:00,40.07,-88.30,40.07,-88.30,5329927.0
234,2003-07-10 17:42:00,2003-07-10 17:55:00,38.25,-772.05,38.30,-77.33,5368413.0
6,2003-07-12 19:00:00,2003-07-12 19:25:00,35.37,-812.00,35.30,-81.02,5329529.0
4,2003-07-13 13:20:00,2003-07-13 13:30:00,34.78,-82.70,34.73,-82.62,5329603.0
2,2003-07-19 12:58:00,2003-07-19 13:00:00,36.43,-800.10,36.42,-800.10,5379364.0
18,2003-08-04 23:05:00,2003-08-04 23:07:00,37.35,-795.10,37.33,-795.10,5332661.0
22,2003-08-08 12:48:00,2003-08-08 12:48:00,36.78,-76.10,36.78,-76.10,5337447.0
255,2003-08-11 15:12:00,2003-08-11 15:13:00,29.35,-98.88,29.35,-98.88,5377563.0
19,2003-08-14 10:01:00,2003-08-14 10:02:00,34.93,-762.10,34.93,-762.10,5334708.0
25,2003-08-22 14:20:00,2003-08-22 14:21:00,39.55,-111.87,39.55,-111.87,5380008.0
24,2003-09-05 18:03:00,2003-09-05 18:10:00,38.37,-104.92,38.37,-104.90,5337985.0
23,2003-09-22 22:30:00,2003-09-22 22:32:00,36.77,-785.02,36.78,-785.02,5337745.0
253,2003-10-16 17:30:00,2003-10-16 17:33:00,35.48,-81.23,35.48,-81.20,5372322.0
246,2003-10-27 15:01:00,2003-10-27 15:01:00,40.48,-742.05,40.48,-742.05,5371882.0
0,2003-11-05 14:00:00,2003-11-05 14:04:00,39.12,-773.07,39.13,-77.52,5379991.0
1,2003-11-05 14:04:00,2003-11-05 14:08:00,39.12,-77.57,39.13,-77.52,5379992.0
259,2003-11-05 14:08:00,2003-11-05 14:15:00,39.02,-77.22,39.12,-77.45,5379730.0
258,2003-11-05 14:10:00,2003-11-05 14:25:00,39.15,-77.45,39.18,-77.28,5379733.0
17,2003-11-17 17:20:00,2003-11-17 17:20:00,40.78,-96.23,40.78,-96.23,5332319.0

In [30]:
criteria = outliers_stevents.begin_date_time.between('2003-07-01', '2003-07-13')
stevent_july03 = outliers_stevents[stevent_cols][criteria]
july03 = stevent_july03.merge(spc_03[spc_cols], how='inner', left_on='begin_date_time', right_on='date_time')
july03

,begin_date_time,end_date_time,begin_lat,begin_lon,end_lat,end_lon,event_id,date_time,slat,slon,elat,elon,len,mag,f1,f2,om
0,2003-07-12 19:00:00,2003-07-12 19:25:00,35.37,-812.00,35.30,-81.02,5329529.0,2003-07-12 19:00:00,35.37,-81.35,35.30,-81.02,18.0,1,71,0,564
1,2003-07-09 17:22:00,2003-07-09 17:22:00,40.07,-88.30,40.07,-88.30,5329927.0,2003-07-09 17:22:00,40.08,-88.30,40.08,-88.30,0.1,0,19,0,561
2,2003-07-10 17:42:00,2003-07-10 17:55:00,38.25,-772.05,38.30,-77.33,5368413.0,2003-07-10 17:42:00,38.27,-77.40,38.30,-77.33,5.0,0,179,0,146
3,2003-07-02 12:40:00,2003-07-02 12:40:00,35.25,-770.10,35.25,-770.10,5370587.0,2003-07-02 12:40:00,35.27,-77.12,35.27,-77.12,0.3,0,49,0,1332
4,2003-07-01 21:03:00,2003-07-01 21:03:00,32.67,-81.60,32.75,-813.02,5370139.0,2003-07-01 21:03:00,32.68,-81.60,32.75,-81.53,6.0,2,251,0,1326
5,2003-07-01 22:02:00,2003-07-01 22:20:00,32.83,-810.15,32.93,-81.05,5370232.0,2003-07-01 22:02:00,32.83,-81.17,32.93,-81.05,10.0,1,49,0,507
6,2003-07-02 02:00:00,2003-07-02 02:05:00,33.60,-795.02,33.63,-795.02,5373890.0,2003-07-02 02:00:00,33.60,-79.85,33.63,-79.85,1.0,1,89,0,523
7,2003-07-02 18:00:00,2003-07-02 18:03:00,34.53,-784.05,34.53,-78.65,5373332.0,2003-07-02 18:00:00,34.53,-78.72,34.53,-78.65,0.8,1,17,0,525
8,2003-07-01 04:29:00,2003-07-01 04:35:00,32.18,-86.38,32.25,-86.38,5375712.0,2003-07-01 04:29:00,32.20,-86.38,32.25,-86.38,4.7,0,101,0,533