In [24]:
from spc import load_full_tors
from shapely.geometry import MultiPoint
import pandas as pd

%env WORKDIR=~/weatherpy-work

env: WORKDIR=~/weatherpy-work

In [34]:
df = load_full_tors()
df['dayofyear'] = df.date_time.dt.dayofyear
df.head()

             date_time    yr  mo  dy  tz  st  ...   f1  f2  f3  f4  fc  dayofyear
om                                            ...
1  1950-01-03 11:00:00  1950   1   3   3  MO  ...    0   0   0   0   0          3
2  1950-01-03 11:55:00  1950   1   3   3  IL  ...  135   0   0   0   0          3
3  1950-01-03 16:00:00  1950   1   3   3  OH  ...  161   0   0   0   0          3
4  1950-01-13 05:25:00  1950   1  13   3  AR  ...  113   0   0   0   0         13
5  1950-01-25 19:30:00  1950   1  25   3  MO  ...   93   0   0   0   0         25

[5 rows x 28 columns]

In [7]:
firstday = 90
lastday = 180
days = range(firstday, lastday + 1)

In [32]:
def com(data, day, pm=3):
    tors = data[(data.dayofyear >= day - 3) & (data.dayofyear <= day + 3)]
    mpt = MultiPoint(tors[['slon', 'slat']].values)
    return mpt.centroid.y, mpt.centroid.x

In [36]:
results = []
for dy in days:
    centroid_lat, centroid_lon = com(df, dy)
    results.append({'day': dy, 'lat': centroid_lat, 'lon': centroid_lon})

results = pd.DataFrame(results)

In [37]:
results

    day        lat        lon
0    90  35.487942 -90.985808
1    91  35.368793 -90.317710
2    92  35.441017 -90.338166
3    93  35.418936 -90.182855
4    94  35.589695 -90.311338
5    95  35.657204 -90.616521
6    96  35.782381 -90.305563
7    97  35.649637 -91.146057
8    98  36.025185 -91.397769
9    99  36.037507 -91.659964
10  100  36.125103 -91.816881
11  101  35.952039 -92.163916
12  102  35.922354 -91.892391
13  103  35.785536 -91.771963
14  104  35.827006 -91.922257
15  105  35.622935 -92.089458
16  106  35.916508 -92.042468
17  107  36.020664 -92.146872
18  108  36.485140 -92.204520
19  109  36.547073 -92.851009
20  110  36.489936 -93.392366
21  111  36.340883 -93.350002
22  112  36.222441 -93.289899
23  113  36.035405 -93.607014
24  114  35.895072 -93.053464
25  115  35.679703 -92.635745
26  116  35.604637 -92.347810
27  117  35.712642 -92.335005
28  118  35.836989 -92.172564
29  119  35.957686 -92.264502
..  ...        ...        ...
61  151  38.178901 -94.721370
62  152  38.231154 -94.847761
63  153  38.325399 -94.839551
64  154  38.422499 -94.908339
65  155  38.603789 -95.536796
66  156  38.712795 -95.295990
67  157  38.830388 -95.834931
68  158  38.880380 -95.660667
69  159  38.937090 -95.614967
70  160  39.197060 -95.640018
71  161  39.220528 -95.255726
72  162  39.228649 -95.252963
73  163  39.373416 -95.503141
74  164  39.478251 -95.361302
75  165  39.868587 -95.369094
76  166  39.998032 -95.170336
77  167  40.043672 -94.938227
78  168  40.072439 -95.026128
79  169  40.095484 -94.948363
80  170  39.996543 -94.794623
81  171  40.113399 -94.760589
82  172  40.095952 -94.756917
83  173  40.074818 -94.755562
84  174  40.056806 -94.557323
85  175  40.085118 -94.310972
86  176  39.995368 -93.972315
87  177  40.109651 -93.842422
88  178  39.998690 -93.423953
89  179  39.826665 -92.987286
90  180  39.864307 -92.721148

[91 rows x 3 columns]