In [86]:
%env WORKDIR=~/weatherpy-work
from stormevents.io import load_tornadoes

import numpy as np
import pandas as pd

from sklearn.ensemble import IsolationForest
from sklearn.neighbors import LocalOutlierFactor

env: WORKDIR=~/weatherpy-work

In [203]:
sample_data = load_tornadoes('1985-01-01 12:00', '1995-12-31 23:59', tz='GMT')

In [204]:
sample_data.columns

Index(['begin_yearmonth', 'begin_day', 'begin_time', 'end_yearmonth',
       'end_day', 'end_time', 'episode_id', 'event_id', 'state', 'state_fips',
       'year', 'month_name', 'event_type', 'cz_type', 'cz_fips', 'cz_name',
       'wfo', 'begin_date_time', 'cz_timezone', 'end_date_time',
       'injuries_direct', 'injuries_indirect', 'deaths_direct',
       'deaths_indirect', 'damage_property', 'damage_crops', 'source',
       'magnitude', 'magnitude_type', 'flood_cause', 'category', 'tor_f_scale',
       'tor_length', 'tor_width', 'tor_other_wfo', 'tor_other_cz_state',
       'tor_other_cz_fips', 'tor_other_cz_name', 'begin_range',
       'begin_azimuth', 'begin_location', 'end_range', 'end_azimuth',
       'end_location', 'begin_lat', 'begin_lon', 'end_lat', 'end_lon',
       'episode_narrative', 'event_narrative', 'data_source'],
      dtype='object')

In [205]:
sample_data.head()

,begin_yearmonth,begin_day,begin_time,end_yearmonth,end_day,end_time,episode_id,event_id,state,state_fips,...,end_range,end_azimuth,end_location,begin_lat,begin_lon,end_lat,end_lon,episode_narrative,event_narrative,data_source
0,198504,5,2310,198504,5,2310,NaN,9976894,ALABAMA,1,...,0,NaN,NaN,34.13,-86.18,34.20,-86.05,NaN,NaN,PUB
1,198504,5,2320,198504,5,2320,NaN,9976901,ALABAMA,1,...,0,NaN,NaN,33.48,-86.30,33.47,-86.30,NaN,NaN,PUB
2,198504,5,2322,198504,5,2322,NaN,9976902,ALABAMA,1,...,0,NaN,NaN,33.47,-86.30,33.45,-86.30,NaN,NaN,PUB
3,198510,28,1700,198510,28,1700,NaN,9977640,ALABAMA,1,...,0,NaN,NaN,31.00,-86.33,NaN,NaN,NaN,NaN,PUB
4,198510,28,1715,198510,28,1715,NaN,9977641,ALABAMA,1,...,0,NaN,NaN,31.00,-87.27,NaN,NaN,NaN,NaN,PUB

In [206]:
def dist_heading(lat1, lon1, lat2, lon2):
    if any(map(np.isnan, (lat1, lon1, lat2, lon2))):
        return np.nan, np.nan
    from geographiclib.geodesic import Geodesic
    found = Geodesic.WGS84.Inverse(lat1, lon1, lat2, lon2)
    dist_m, heading = found['s12'], found['azi1']
    dist_mi = dist_m * 0.000621371
    return dist_mi, heading

sample_data[['calc_length', 'calc_heading']] = sample_data.apply(
    lambda r: pd.Series(list(dist_heading(r.begin_lat, r.begin_lon, r.end_lat, r.end_lon))), axis=1)

In [207]:
sample_data['length_perc_diff'] = (sample_data.tor_length - sample_data.calc_length) / sample_data.tor_length
sample_data['julian_day'] = sample_data.begin_date_time.dt.dayofyear

In [223]:
def nanfilt(df):
    return (df.begin_lat.notnull()) & (df.begin_lon.notnull()) & (df.end_lat.notnull()) & (df.end_lon.notnull()) & (df.length_perc_diff.notnull())

def end_start_eq(df):
    return (df.begin_lat == df.end_lat) & (df.begin_lon == df.end_lon)

data_non_nan = sample_data[nanfilt(sample_data) & ~end_start_eq(sample_data) & ~np.isinf(sample_data.length_perc_diff)]

In [217]:
sample_data.head()

,begin_yearmonth,begin_day,begin_time,end_yearmonth,end_day,end_time,episode_id,event_id,state,state_fips,...,begin_lon,end_lat,end_lon,episode_narrative,event_narrative,data_source,calc_length,calc_heading,length_perc_diff,julian_day
0,198504,5,2310,198504,5,2310,NaN,9976894,ALABAMA,1,...,-86.18,34.20,-86.05,NaN,NaN,PUB,8.874385,57.029157,-0.109298,95
1,198504,5,2320,198504,5,2320,NaN,9976901,ALABAMA,1,...,-86.30,33.47,-86.30,NaN,NaN,PUB,0.689181,180.000000,0.540546,95
2,198504,5,2322,198504,5,2322,NaN,9976902,ALABAMA,1,...,-86.30,33.45,-86.30,NaN,NaN,PUB,1.378358,180.000000,0.081094,95
3,198510,28,1700,198510,28,1700,NaN,9977640,ALABAMA,1,...,-86.33,NaN,NaN,NaN,NaN,PUB,NaN,NaN,NaN,301
4,198510,28,1715,198510,28,1715,NaN,9977641,ALABAMA,1,...,-87.27,NaN,NaN,NaN,NaN,PUB,NaN,NaN,NaN,301

In [252]:
features = data_non_nan[['length_perc_diff']]

In [253]:
if_model = IsolationForest(contamination=0.15, behaviour='new', verbose=0)

In [254]:
lof_model = LocalOutlierFactor(contamination=0.15)

In [255]:
data_non_nan['if_results'] = if_model.fit_predict(features)
data_non_nan['lof_results'] = lof_model.fit_predict(features)

/Users/jitang/anaconda/envs/test_env2/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jitang/anaconda/envs/test_env2/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [256]:
relevant_cols =  ['begin_date_time', 'end_date_time', 'begin_lat', 'begin_lon', 
                  'end_lat', 'end_lon', 'tor_length', 'calc_length', 'calc_heading', 'length_perc_diff',
                  'tor_f_scale', 'state', 'if_results', 'lof_results']

In [257]:
outliers = (data_non_nan.if_results == -1) & (data_non_nan.lof_results == -1)
data_non_nan.loc[outliers, relevant_cols]

,begin_date_time,end_date_time,begin_lat,begin_lon,end_lat,end_lon,tor_length,calc_length,calc_heading,length_perc_diff,tor_f_scale,state,if_results,lof_results
64,1985-05-31 21:55:00,1985-05-31 21:55:00,41.52,-79.93,40.73,-78.83,12.5,79.160013,133.161677,-5.332801,F4,PENNSYLVANIA,-1,-1
65,1985-05-31 22:11:00,1985-05-31 22:11:00,40.73,-78.83,41.43,-79.52,11.0,60.260817,-36.491930,-4.478256,F4,PENNSYLVANIA,-1,-1
378,1985-09-07 22:20:00,1985-09-07 22:20:00,45.05,-85.07,45.02,-85.00,2.0,4.004866,121.125166,-1.002433,F1,MICHIGAN,-1,-1
516,1985-06-01 01:53:00,1985-06-01 01:53:00,40.63,-79.00,40.60,-78.98,6.0,2.321850,153.061436,0.613025,F0,PENNSYLVANIA,-1,-1
666,1985-04-28 21:30:00,1985-04-28 21:30:00,32.52,-101.68,32.53,-101.68,0.2,0.689076,0.000000,-2.445379,F0,TEXAS,-1,-1
667,1985-04-28 21:31:00,1985-04-28 21:31:00,32.53,-101.68,32.53,-101.67,0.3,0.583750,89.997311,-0.945835,F0,TEXAS,-1,-1
779,1986-05-10 00:36:00,1986-05-10 00:36:00,41.58,-93.80,41.58,-93.78,0.1,1.036364,89.993363,-9.363640,F0,IOWA,-1,-1
854,1986-05-12 04:31:00,1986-05-12 04:31:00,47.63,-97.45,47.62,-97.45,0.1,0.690859,180.000000,-5.908591,F1,NORTH DAKOTA,-1,-1
866,1986-05-12 04:30:00,1986-05-12 04:30:00,47.63,-97.50,47.63,-97.48,0.1,0.934012,89.992612,-8.340124,F1,NORTH DAKOTA,-1,-1
871,1986-05-14 21:09:00,1986-05-14 21:09:00,34.63,-98.97,34.65,-98.95,0.1,1.788543,39.567811,-16.885431,F1,OKLAHOMA,-1,-1
912,1986-03-18 20:25:00,1986-03-18 20:25:00,32.38,-92.35,32.33,-92.32,2.0,3.866361,153.002833,-0.933181,F2,LOUISIANA,-1,-1
1008,1986-02-06 21:18:00,1986-02-06 21:18:00,35.23,-84.82,35.23,-84.67,5.0,8.484695,89.956735,-0.696939,F3,TENNESSEE,-1,-1
1013,1986-04-08 01:26:00,1986-04-08 01:26:00,38.33,-96.83,38.35,-96.82,0.1,1.482589,21.491306,-13.825890,F0,KANSAS,-1,-1
1069,1986-08-06 00:10:00,1986-08-06 00:10:00,39.75,-92.30,39.75,-92.28,5.0,1.065085,89.993606,0.786983,F1,MISSOURI,-1,-1
1080,1986-03-18 21:19:00,1986-03-18 21:19:00,32.82,-90.70,32.83,-90.70,3.0,0.689109,0.000000,0.770297,F1,MISSISSIPPI,-1,-1
1112,1986-03-12 18:50:00,1986-03-12 18:50:00,32.23,-88.82,32.23,-88.88,2.0,3.514095,-89.984000,-0.757048,F2,MISSISSIPPI,-1,-1
1134,1986-07-18 21:47:00,1986-07-18 21:47:00,45.00,-93.28,45.17,-93.32,2.0,11.901339,-9.449420,-4.950670,F2,MINNESOTA,-1,-1
1142,1986-03-12 18:07:00,1986-03-12 18:07:00,31.90,-89.37,31.97,-89.27,2.0,7.601682,50.592481,-2.800841,F3,MISSISSIPPI,-1,-1
1144,1986-03-12 18:30:00,1986-03-12 18:30:00,32.27,-89.12,32.32,-89.10,10.0,3.638669,18.759937,0.636133,F3,MISSISSIPPI,-1,-1
1165,1986-04-12 09:05:00,1986-04-12 09:05:00,31.82,-90.95,31.70,-90.90,4.0,8.776209,160.391042,-1.194052,F1,MISSISSIPPI,-1,-1
1180,1986-09-28 22:34:00,1986-09-28 22:34:00,41.75,-93.60,41.77,-93.35,6.0,12.992039,83.818049,-1.165340,F4,IOWA,-1,-1
1376,1986-05-31 00:36:00,1986-05-31 00:36:00,37.62,-113.65,37.57,-113.70,0.5,4.406672,-141.475642,-7.813345,F1,UTAH,-1,-1
1562,1986-05-05 04:02:00,1986-05-05 04:02:00,34.10,-101.70,34.03,-101.62,4.0,6.658540,136.412540,-0.664635,F0,TEXAS,-1,-1
1583,1986-05-10 01:09:00,1986-05-10 01:09:00,41.62,-93.83,41.62,-93.82,0.1,0.517862,89.996679,-4.178621,F0,IOWA,-1,-1
1602,1986-05-10 00:36:00,1986-05-10 00:36:00,41.60,-93.83,41.55,-93.80,0.1,3.784684,155.736311,-36.846837,F0,IOWA,-1,-1
1606,1986-05-10 01:09:00,1986-05-10 01:09:00,41.62,-93.78,41.62,-93.77,0.1,0.517862,89.996679,-4.178621,F0,IOWA,-1,-1
1609,1986-05-10 01:49:00,1986-05-10 01:49:00,41.68,-93.80,41.68,-93.82,0.1,1.034764,-89.993350,-9.347636,F0,IOWA,-1,-1
1610,1986-05-10 01:49:00,1986-05-10 01:49:00,41.68,-93.82,41.68,-93.80,0.1,1.034764,89.993350,-9.347636,F0,IOWA,-1,-1
1725,1987-07-11 21:25:00,1987-07-11 21:25:00,45.93,-86.42,45.93,-86.40,3.0,0.963882,89.992815,0.678706,F3,MICHIGAN,-1,-1
1874,1987-11-16 20:43:00,1987-11-16 20:43:00,32.25,-90.17,32.28,-90.12,9.0,3.583588,54.758354,0.601824,F1,MISSISSIPPI,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8624,1994-04-25 23:58:00,1994-04-26 00:03:00,34.67,-95.10,34.73,-95.07,1.2,4.474672,22.429376,-2.728893,F1,OKLAHOMA,-1,-1
8638,1994-05-13 22:20:00,1994-05-13 22:20:00,30.20,-95.78,30.23,-95.72,0.1,4.141797,60.055418,-40.417967,F0,TEXAS,-1,-1
8639,1994-05-13 22:20:00,1994-05-13 22:20:00,30.20,-95.78,30.23,-95.72,0.1,4.141797,60.055418,-40.417967,F0,TEXAS,-1,-1
8655,1994-04-26 20:30:00,1994-04-26 20:30:00,33.68,-97.57,33.75,-97.52,0.1,5.618600,30.819938,-55.185996,F0,TEXAS,-1,-1
8689,1994-04-27 02:40:00,1994-04-27 02:40:00,41.32,-87.58,41.35,-87.52,2.0,3.745075,56.420620,-0.872537,F1,ILLINOIS,-1,-1
8719,1994-04-15 16:30:00,1994-04-15 16:30:00,35.32,-85.00,35.43,-84.48,15.0,30.324640,75.367814,-1.021643,F3,TENNESSEE,-1,-1
8735,1994-06-27 06:15:00,1994-06-27 06:15:00,33.88,-84.03,33.88,-83.83,0.7,11.497163,89.944254,-15.424518,F1,GEORGIA,-1,-1
9167,1994-07-18 23:35:00,1994-07-18 23:35:00,48.00,-100.83,47.83,-100.58,0.1,16.515961,135.235057,-164.159606,F1,NORTH DAKOTA,-1,-1
9334,1994-04-25 22:45:00,1994-04-25 22:50:00,42.53,-97.63,42.63,-97.55,1.5,8.018581,30.565334,-4.345721,F0,NEBRASKA,-1,-1
9351,1994-04-09 21:25:00,1994-04-09 21:45:00,37.15,-100.77,37.27,-100.32,7.0,26.163690,71.425400,-2.737670,F2,KANSAS,-1,-1
9425,1994-11-27 14:55:00,1994-11-27 15:05:00,36.10,-91.48,36.20,-91.28,6.0,13.138313,58.287007,-1.189719,F1,ARKANSAS,-1,-1
9475,1995-05-14 04:58:00,1995-05-14 04:58:00,39.98,-86.90,39.97,-86.57,9.0,17.530174,92.149557,-0.947797,F2,INDIANA,-1,-1
9502,1995-11-08 00:10:00,1995-11-08 00:20:00,31.18,-81.50,31.15,-81.38,50.0,7.403283,106.179702,0.851934,F1,GEORGIA,-1,-1
9549,1995-06-08 23:35:00,1995-06-08 23:55:00,35.25,-100.60,35.55,-100.38,5.0,24.123719,30.918507,-3.824744,F4,TEXAS,-1,-1
9639,1995-04-18 00:45:00,1995-04-18 00:45:00,34.63,-97.13,34.67,-97.13,0.1,2.757251,0.000000,-26.572513,F0,OKLAHOMA,-1,-1
9660,1995-05-18 18:30:00,1995-05-18 18:30:00,38.87,-76.00,38.87,-75.80,0.3,10.785097,89.937244,-34.950322,F1,MARYLAND,-1,-1
9691,1995-06-09 02:18:00,1995-06-09 02:18:00,35.77,-99.98,35.82,-99.83,5.0,9.103388,67.704571,-0.820678,F2,OKLAHOMA,-1,-1
9775,1995-01-18 19:55:00,1995-01-18 20:05:00,31.15,-92.50,31.20,-92.35,5.0,9.529588,68.770774,-0.905918,F1,LOUISIANA,-1,-1
9797,1995-05-18 18:55:00,1995-05-18 19:10:00,36.43,-89.47,36.55,-89.18,8.0,18.142831,62.780460,-1.267854,F0,TENNESSEE,-1,-1
9814,1995-05-09 01:30:00,1995-05-09 01:30:00,40.45,-96.38,40.52,-96.33,1.5,5.501596,28.591229,-2.667731,F2,NEBRASKA,-1,-1
9918,1995-05-13 23:15:00,1995-05-13 23:30:00,40.42,-89.93,40.52,-89.48,7.0,24.696489,73.630314,-2.528070,F1,ILLINOIS,-1,-1
9984,1995-11-07 20:15:00,1995-11-07 20:15:00,34.48,-79.92,34.50,-80.00,0.1,4.769463,-73.176563,-46.694631,F0,SOUTH CAROLINA,-1,-1
10223,1995-07-04 23:40:00,1995-07-04 23:40:00,39.40,-92.43,39.80,-92.12,0.1,32.175063,30.845559,-320.750631,F3,MISSOURI,-1,-1
10250,1995-05-18 18:55:00,1995-05-18 19:00:00,36.43,-89.47,36.55,-89.18,1.0,18.142831,62.780460,-17.142831,F0,TENNESSEE,-1,-1
10307,1995-05-09 01:30:00,1995-05-09 01:30:00,40.45,-96.38,40.52,-96.33,0.1,5.501596,28.591229,-54.015960,NaN,NEBRASKA,-1,-1
10313,1995-05-18 13:20:00,1995-05-18 13:20:00,30.07,-94.80,30.13,-94.72,500.0,6.327648,49.200559,0.987345,F1,TEXAS,-1,-1
10432,1995-05-18 18:29:00,1995-05-18 18:29:00,37.13,-89.78,37.28,-89.57,8.0,15.530038,48.172065,-0.941255,NaN,MISSOURI,-1,-1
10478,1995-05-28 00:20:00,1995-05-28 00:35:00,38.97,-94.07,39.03,-93.97,4.0,6.790004,52.410925,-0.697501,F0,MISSOURI,-1,-1
10578,1995-05-18 23:30:00,1995-05-18 23:30:00,37.38,-83.38,37.35,-82.95,2.0,23.759049,94.864985,-10.879524,F1,KENTUCKY,-1,-1
10657,1995-05-18 17:46:00,1995-05-18 17:46:00,38.25,-90.13,38.28,-90.08,0.4,3.416783,52.712706,-7.541957,F0,ILLINOIS,-1,-1

In [262]:
data_non_nan.shape

(2612, 57)

In [263]:
data_non_nan.loc[(data_non_nan.length_perc_diff < -0.2) | (data_non_nan.length_perc_diff > 0.4), relevant_cols]

,begin_date_time,end_date_time,begin_lat,begin_lon,end_lat,end_lon,tor_length,calc_length,calc_heading,length_perc_diff,tor_f_scale,state,if_results,lof_results
1,1985-04-05 23:20:00,1985-04-05 23:20:00,33.48,-86.30,33.47,-86.30,1.5,0.689181,180.000000,0.540546,F1,ALABAMA,-1,1
8,1985-04-05 23:52:00,1985-04-05 23:52:00,33.58,-85.85,33.60,-85.83,1.0,1.797421,39.920887,-0.797421,F2,ALABAMA,-1,1
16,1985-05-27 23:04:00,1985-05-27 23:04:00,40.77,-83.12,40.77,-83.10,0.5,1.049209,89.993470,-1.098419,F1,OHIO,-1,1
29,1985-10-05 14:45:00,1985-10-05 14:45:00,40.52,-74.40,40.62,-74.30,6.0,8.677364,37.295399,-0.446227,F1,NEW JERSEY,1,1
38,1985-05-31 23:43:00,1985-05-31 23:43:00,40.23,-82.18,40.23,-82.13,2.0,2.644141,89.983854,-0.322070,F3,OHIO,1,1
40,1985-06-01 00:02:00,1985-06-01 00:02:00,40.15,-82.02,40.20,-81.93,4.5,5.881333,54.057285,-0.306963,F1,OHIO,1,1
46,1985-06-22 21:30:00,1985-06-22 21:30:00,41.68,-81.05,41.72,-81.02,2.4,3.166761,29.329602,-0.319484,F2,OHIO,1,1
64,1985-05-31 21:55:00,1985-05-31 21:55:00,41.52,-79.93,40.73,-78.83,12.5,79.160013,133.161677,-5.332801,F4,PENNSYLVANIA,-1,-1
65,1985-05-31 22:11:00,1985-05-31 22:11:00,40.73,-78.83,41.43,-79.52,11.0,60.260817,-36.491930,-4.478256,F4,PENNSYLVANIA,-1,-1
69,1985-08-17 18:55:00,1985-08-17 18:55:00,34.88,-81.27,34.90,-81.25,3.0,1.786404,39.481816,0.404532,F1,SOUTH CAROLINA,-1,1
88,1985-05-31 23:56:00,1985-05-31 23:56:00,41.18,-79.77,41.18,-79.70,3.0,3.649567,89.976955,-0.216522,F0,PENNSYLVANIA,1,1
89,1985-06-01 00:00:00,1985-06-01 00:00:00,41.63,-79.03,41.63,-78.93,3.5,5.177821,89.966784,-0.479377,F4,PENNSYLVANIA,1,1
120,1985-08-16 21:30:00,1985-08-16 21:30:00,35.33,-87.05,35.42,-87.05,5.0,6.204558,0.000000,-0.240912,F2,TENNESSEE,1,1
125,1985-05-31 23:10:00,1985-05-31 23:10:00,41.17,-80.52,41.20,-80.48,2.0,2.938434,45.194634,-0.469217,F5,PENNSYLVANIA,1,-1
163,1985-08-16 17:55:00,1985-08-16 17:55:00,33.48,-87.10,33.53,-87.12,3.0,3.634247,-18.520377,-0.211416,F2,ALABAMA,1,1
165,1985-08-16 18:22:00,1985-08-16 18:22:00,33.68,-87.05,33.70,-87.05,1.0,1.378410,0.000000,-0.378410,F1,ALABAMA,1,1
188,1985-09-23 15:30:00,1985-09-23 15:30:00,31.30,-87.10,31.42,-87.00,7.0,10.163703,35.542255,-0.451958,F2,ALABAMA,1,1
209,1985-05-04 21:30:00,1985-05-04 21:30:00,47.30,-96.45,47.30,-96.27,7.0,8.458885,89.933858,-0.208412,F0,MINNESOTA,1,1
210,1985-05-29 04:57:00,1985-05-29 04:57:00,41.95,-101.77,42.00,-101.70,4.0,4.990505,46.228643,-0.247626,F0,NEBRASKA,1,1
222,1985-05-14 23:31:00,1985-05-14 23:31:00,44.72,-93.97,44.73,-93.95,0.5,1.202546,54.949020,-1.405092,F1,MINNESOTA,-1,1
240,1985-07-04 00:05:00,1985-07-04 00:05:00,46.48,-93.93,46.48,-93.80,4.0,6.203019,89.952866,-0.550755,F0,MINNESOTA,1,1
245,1985-05-13 22:17:00,1985-05-13 22:17:00,38.62,-91.67,38.70,-91.52,6.0,9.811447,55.729374,-0.635241,F1,MISSOURI,-1,1
271,1985-05-31 22:36:00,1985-05-31 22:36:00,41.52,-79.53,41.45,-78.93,25.0,31.508893,98.620294,-0.260356,F4,PENNSYLVANIA,1,1
275,1985-04-22 00:53:00,1985-04-22 00:53:00,44.18,-95.82,44.20,-95.77,2.0,2.841957,60.911639,-0.420979,F1,MINNESOTA,1,-1
276,1985-04-22 00:57:00,1985-04-22 00:57:00,44.20,-95.77,44.23,-95.63,5.0,7.254059,73.359968,-0.450812,F1,MINNESOTA,1,1
283,1985-05-27 23:00:00,1985-05-27 23:00:00,40.77,-83.13,40.77,-83.12,1.0,0.524605,89.996735,0.475395,F1,OHIO,-1,1
291,1985-05-21 20:10:00,1985-05-21 20:10:00,30.38,-88.82,30.42,-88.75,3.5,5.006311,56.589011,-0.430375,F2,MISSISSIPPI,1,-1
304,1985-03-03 22:35:00,1985-03-03 22:35:00,40.58,-98.50,40.60,-98.40,4.0,5.438189,75.267131,-0.359547,F1,NEBRASKA,1,1
328,1985-07-04 00:17:00,1985-07-04 00:17:00,46.48,-93.93,46.48,-93.72,3.0,10.020260,89.923861,-2.340087,F0,MINNESOTA,-1,1
330,1985-07-04 00:30:00,1985-07-04 00:30:00,46.30,-93.83,46.28,-93.82,1.0,1.462024,160.879243,-0.462024,F2,MINNESOTA,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10105,1995-07-24 02:10:00,1995-07-24 02:10:00,34.43,-98.53,34.47,-98.55,0.5,2.984315,-22.493663,-4.968629,F0,OKLAHOMA,-1,1
10158,1995-06-08 21:55:00,1995-06-08 22:15:00,35.82,-100.78,35.87,-100.63,3.0,9.098511,67.691756,-2.032837,F1,TEXAS,-1,1
10166,1995-06-08 22:55:00,1995-06-08 23:10:00,35.05,-100.83,35.10,-100.77,10.0,4.841761,44.593794,0.515824,F2,TEXAS,-1,1
10198,1995-05-08 03:15:00,1995-05-08 03:15:00,32.83,-97.25,32.93,-97.08,10.0,12.050016,55.072545,-0.205002,F1,TEXAS,1,1
10223,1995-07-04 23:40:00,1995-07-04 23:40:00,39.40,-92.43,39.80,-92.12,0.1,32.175063,30.845559,-320.750631,F3,MISSOURI,-1,-1
10242,1995-06-09 00:45:00,1995-06-09 01:15:00,35.50,-100.22,35.68,-100.10,10.0,14.130206,28.535650,-0.413021,F4,TEXAS,1,1
10250,1995-05-18 18:55:00,1995-05-18 19:00:00,36.43,-89.47,36.55,-89.18,1.0,18.142831,62.780460,-17.142831,F0,TENNESSEE,-1,-1
10264,1995-05-19 13:38:00,1995-05-19 13:38:00,34.95,-79.27,34.95,-79.22,6.0,2.837915,89.985678,0.527014,F1,NORTH CAROLINA,-1,1
10287,1995-06-28 00:15:00,1995-06-28 00:15:00,41.65,-100.52,41.63,-100.43,3.0,4.859463,106.471391,-0.619821,F0,NEBRASKA,1,1
10306,1995-05-09 01:30:00,1995-05-09 01:40:00,40.45,-96.38,40.52,-96.33,4.0,5.501596,28.591229,-0.375399,F0,NEBRASKA,1,-1
10307,1995-05-09 01:30:00,1995-05-09 01:30:00,40.45,-96.38,40.52,-96.33,0.1,5.501596,28.591229,-54.015960,NaN,NEBRASKA,-1,-1
10313,1995-05-18 13:20:00,1995-05-18 13:20:00,30.07,-94.80,30.13,-94.72,500.0,6.327648,49.200559,0.987345,F1,TEXAS,-1,-1
10424,1995-10-06 01:31:00,1995-10-06 01:39:00,39.08,-76.70,39.17,-76.63,6.0,7.258959,31.186442,-0.209827,F1,MARYLAND,1,1
10432,1995-05-18 18:29:00,1995-05-18 18:29:00,37.13,-89.78,37.28,-89.57,8.0,15.530038,48.172065,-0.941255,NaN,MISSOURI,-1,-1
10435,1995-05-18 17:40:00,1995-05-18 17:46:00,38.23,-90.28,38.30,-90.20,4.0,6.498953,41.995600,-0.624738,F2,ILLINOIS,1,1
10450,1995-09-06 21:34:00,1995-09-06 21:34:00,44.17,-93.37,44.13,-93.32,3.0,3.715573,137.995043,-0.238524,F0,MINNESOTA,1,1
10471,1995-05-09 22:48:00,1995-05-09 22:52:00,40.53,-90.08,40.57,-90.03,3.0,3.813564,43.620003,-0.271188,F0,ILLINOIS,1,1
10472,1995-05-13 22:55:00,1995-05-13 23:06:00,40.37,-90.30,40.42,-90.12,7.0,10.103044,69.975027,-0.443292,F4,ILLINOIS,1,1
10478,1995-05-28 00:20:00,1995-05-28 00:35:00,38.97,-94.07,39.03,-93.97,4.0,6.790004,52.410925,-0.697501,F0,MISSOURI,-1,-1
10487,1995-05-13 00:18:00,1995-05-13 00:18:00,39.05,-98.62,39.05,-98.53,4.0,4.841031,89.971650,-0.210258,F1,KANSAS,1,1
10510,1995-05-14 05:15:00,1995-05-14 05:15:00,37.18,-88.13,37.20,-87.98,3.0,8.389842,80.492844,-1.796614,F2,KENTUCKY,-1,1
10543,1995-05-18 22:47:00,1995-05-18 22:47:00,36.98,-86.33,36.98,-86.22,5.0,6.085613,89.966916,-0.217123,F2,KENTUCKY,1,1
10562,1995-05-13 20:20:00,1995-05-13 20:40:00,40.47,-92.02,40.50,-91.82,8.0,10.738192,78.820695,-0.342274,F2,MISSOURI,1,1
10577,1995-05-18 21:15:00,1995-05-18 21:15:00,36.87,-87.75,36.82,-87.53,4.0,12.670801,105.723749,-2.167700,F2,KENTUCKY,-1,1
10578,1995-05-18 23:30:00,1995-05-18 23:30:00,37.38,-83.38,37.35,-82.95,2.0,23.759049,94.864985,-10.879524,F1,KENTUCKY,-1,-1
10608,1995-02-16 09:32:00,1995-02-16 09:40:00,34.13,-87.87,34.22,-87.77,6.0,8.443909,42.694131,-0.407318,F1,ALABAMA,1,1
10621,1995-04-22 10:30:00,1995-04-22 10:40:00,32.90,-90.70,32.80,-90.57,8.0,10.230701,132.308086,-0.278838,F1,MISSISSIPPI,1,1
10644,1995-07-15 01:35:00,1995-07-15 01:55:00,42.40,-96.08,42.40,-96.05,3.0,1.534722,89.989885,0.488426,F0,IOWA,-1,1
10650,1995-06-07 00:21:00,1995-06-07 00:25:00,43.20,-93.40,43.15,-93.27,3.5,7.419722,117.678167,-1.119920,F1,IOWA,-1,1
10657,1995-05-18 17:46:00,1995-05-18 17:46:00,38.25,-90.13,38.28,-90.08,0.4,3.416783,52.712706,-7.541957,F0,ILLINOIS,-1,-1